
.aboutUs {
  .aboutUsTop {
    background: $backgroundColor1;
    padding: 30px 0;
    position: relative;
    @media #{$query-desktop} {
      padding: 100px 0;
    }
    h1 {
      @include fontEb(32px);
      color: $textColor;
      margin-top: 20px;
      @media #{$query-desktop} {
        margin-top: 120px;
        @include fontEb(48px);
      }
    }
    p {
      @include fontSs(21px);
      color: $textColorLight;
      padding: 25px 0;
    }
    span {
      @include fontSs(16px);
      color: $textColorLight;
    }
    img {
      width: 100%;
      margin-top: 50px;
      @media #{$query-desktop} {
        max-width: 511px;
        display: inline-block;
        margin: 0;
      }
    }
  }
}

.content-invoice {
  @include clearfix();
  .images {
    background: url('../../img/our_mission.png') no-repeat center center;
    background-size: cover;
    min-height: 230px;
    @media #{$query-desktop} {
      float: left;
      width: 50%;
      min-height: 580px;
    }
  }
  .invoice-slider {
    background: url('../../img/text_bg_1.png') repeat top left;
    position: relative;
    @media #{$query-desktop} {
      width: 50%;
      float: right;
      min-height: 580px;
    }
    .itemsC {
      width: 100%;
      padding: 30px 15px 35px 15px;
      @media #{$query-desktop} {
        height: 100%;
        @include position(absolute, 0px null null 0px);
        padding: 80px 25px 25px 115px;
      }
      .item {
        position: relative;
        @include clearfix();
        @media #{$query-desktop} {
          max-width: 470px;
          height: 100%;
        }
        ul {
          li {
            strong {
              font-family: EBGaramond;
              font-size: 32px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.13;
              letter-spacing: normal;
              color: $textColor;
              display: block;
              text-align: center;
              @media #{$query-desktop} {
                font-size: 48px;
                text-align: left;
                line-height: 1.21;
              }
            }
            p {
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.43;
              letter-spacing: normal;
              color: $textColorLight;
              margin: 10px 0 20px 0;
              text-align: center;
              @media #{$query-desktop} {
                font-size: 16px;
                line-height: 1.5;
                text-align: left;
                margin: 20px 0;
              }
            }
          }
        }
      }
    }
  }
}

.content-turn {
  padding: 30px 0;
  @media #{$query-desktop} {
    padding: 70px 0;
  }
  .wrapper {
    .title {
      text-align: center;
      margin-bottom: 30px;
      @media #{$query-desktop} {
        margin-bottom: 45px;
      }
      em {
        @include fontSs(16px);
        font-style: normal;
        color: $textColorLight;
      }
      span {
        display: block;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: $textColorLight;
        margin-top: 10px;
        @media #{$query-desktop} {
          font-size: 16px;
        }
      }
      h2 {
        text-align: center;
      }
    }
    .itemsC {
      @include clearfix();
      @media #{$query-desktop} {
        margin: 0 -15px;
      }
      .items {
        text-align: center;
        @media #{$query-desktop} {
          width: 24.5%;
          display: inline-block;
          padding: 0 15px;
          vertical-align: top;
        }
        .images {
          max-width: 122px;
          margin: 0 auto;
          img {
            width: 100%;
          }
        }
        span {
          display: block;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: $textColorLight;
          margin: 10px 0 30px 0;
          @media #{$query-desktop} {
            font-size: 18px;
            margin: 30px 0 0 0;
          }
        }
      }
    }
    .form-elements {
      max-width: 260px;
      margin: 0px auto;
      @media #{$query-desktop} {
        max-width: 570px;
        padding-top: 80px;
      }
      .forms {
        @include clearfix();
        input[type=text] {
          float: left;
          max-width: 195px;
          @media #{$query-desktop} {
            max-width: 329px;
          }

        }
        .action {
          text-align: center;
          .btn {
            &.gradient {
              padding-left: 25px;
              padding-right: 25px;
              margin-top: 10px;
              @media #{$query-desktop} {
                float: left;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}

.content-partners {
  padding: 60px 0;
  h2 {
    text-align: center;
  }
  .title {
    margin-bottom: 68px;
  }
  img {
    border: 1px solid $borderDarkPinkColor;
    margin-bottom: 10px;
    width: 100%;
    @include transition(all 0.1s ease);
    display: block;
    @media #{$query-desktop} {
      margin-bottom: 30px;
    }
    &:hover {
      outline: 2px solid $borderDarkPinkColor;
    }
  }
}