
.contact-container-top{
  background: $backgroundColor1;
  padding: 30px 0;
  position: relative;
  @media #{$query-desktop} {
    padding: 50px 0;
  }
  h1 {
    @include fontEb(32px);
    color: $textColor;
    margin-top: 20px;
    @media #{$query-desktop} {
      @include fontEb(48px);
    }
  }
  p {
    @include fontSs(21px);
    color: $textColorLight;
    padding: 15px 0;
  }
  img {
    display: none;
    @media #{$query-desktop} {
      max-width: 511px;
      margin-top: 60px;
      display: inline-block;
    }
  }
}
.contact-page-ct{
  .footer{
    .social-icons{
      background: #fff;
    }
  }
  .link{
    bottom: 15px;
    @media #{$query-desktop} {
      bottom: -77px;
    }
  }
}