
.boxCt{
  background: $colorWhite;
  box-shadow: 0 2px 8px 0 rgba(185, 185, 185, 0.5);
  border-radius: 4px;
  padding: 25px ;
}

.graybg{
  background: $backgroundColor1;
  height: 100%;
  @include clearfix();
  padding: 50px 0;
}

.lumpSumeCt{
  @include clearfix();
  .title{
    @include clearfix();
    h3{
      @include fontSs(24px);
      color: $textColor;
      font-weight: 600;
      float: left;
    }
  }
  .tableCt{
  }
}