.makeApayment{
  background: $backgroundColor1;
  position: relative;
  //height: 100%;
  @include clearfix();
  .sidebar{
    display: none;
    @media #{$query-desktop} {
      display: block;
    }
    .card-add{
      padding-bottom: 20px;
      img{
        max-width: 358px;
      }
    }
    .card-add-btn{
      padding-top: 20px;
      a{
        display: block;
        @include border-radius(4px);
        border: solid 1px $colorPink;
        @include fontSs(18px);
        font-weight: 600;
        color:$colorPink;
        text-align: center;
        padding: 28px 10px;
        i{
          font-size: 18px;
          margin-right: 25px;
          display: inline-block;
          position: relative;
          top: 2px;
          &:before{
            display: block;
          }
        }
      }
    }
    .sidebar-summary{
      background-color: #ffffff;
      @include clearfix();
      @include border-radius(4px);
      position: relative;
      margin-bottom: 10px;
      padding-bottom: 24px;
      @include box-shadow(0, 2px, 8px 0 , rgba(185, 185, 185, 0.5));
      &:after{
        content: "";
        box-sizing: border-box;
        background-image: radial-gradient(circle 10px at 20px 10px, $backgroundColor1 0, $backgroundColor1 10px, transparent 10px, transparent 10px);
        background-size: 33px 40px;
        background-position: top left;
        background-origin: border-box, padding-box;
        width: 100%;
        height: 20px;
        display: inline-block;
        @include  position(absolute, null null -12px 0px);
      }
      .accordion-header{
        @include fontSs(12px);
        font-weight: 600;
        color: $colorPink;
        position: relative;
        cursor: pointer;
        padding: 24px 0;
        &[accordion-show^="true"] {
          padding-bottom: 12px;
          &:after{
            @include position(absolute,50% 0px null null);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 3.5px 4px 3.5px;
            border-color: transparent transparent #373737 transparent;
            content: "";
            margin-top:-2px;
          }
        }
        &[accordion-show^="false"] {
          &:after{
            @include position(absolute,50% 0px null null);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 3.5px 0 3.5px;
            border-color: #373737 transparent transparent transparent;
            content: "";
            margin-top:-2px;
          }
        }
      }
      .items{
        position: relative;
        padding: 0 24px;
        &:last-child{
          .article{
            &[accordion-show^="false"],
            &[accordion-show^="true"]{
              &:before{
                background: transparent;
              }
            }
          }
        }
      }
      .article{
        @include clearfix();
        @include fontSs(16px);
        color:$textColor;
        &:before{
          @include position(absolute, null null 0px 0px);
          width: 100%;
          height: 1px;
          content: "";
          display: block;
          background: $borderColor;
        }
        .item{
          @include clearfix();
          padding: 12px 0;
          strong{
            display: inline-block;
            float: left;
            font-weight: 600;
            @include opacity(.5);
          }
          span{
            display: inline-block;
            float: right;
            text-align: right;
            max-width: 250px;
          }
        }
        .border-dashed{
          height: 1px;
          width: 100%;
          border-bottom: 1px dashed $borderColor;
          margin: 12px 0;
        }

        &[accordion-show^="true"] {
          //border-bottom: 1px solid $borderColor;
          padding-bottom: 20px;
        }
        &.receiver-selection{
          strong{
            @include opacity(1);
            font-size: 18px;
          }
        }
      }
    }
  }
  .payment-content{
    padding-bottom: 24px;
    @include clearfix();
    .or-text{
      @include fontSs(14px);
      font-weight: 600;
      color:$textColor;
      padding: 20px 0 20px 15px;
      @media #{$query-desktop} {
        font-size: 18px;
        padding: 24px 0 24px 10px;
      }
    }
    .choose-payment-items{
      @include clearfix();
      margin-bottom: 24px;
      @media #{$query-desktop} {
        padding: 0 14px;
        margin-bottom: 0;
      }

      .items{

        background-color: #ffffff;
        border: solid 1px $borderColor;
        padding: 20px 15px;
        position: relative;
        margin-top: -1px;
        @media #{$query-desktop} {
          @include border-radius(4px);
          margin: 0 0 24px 0;
          padding: 20px;
        }
        &.active{
          border-color: $colorPink;
          margin-bottom: 1px;
          background: #f3f3f5;
          @media #{$query-desktop} {
            background: transparent;
          }
        }
        label{
          cursor: pointer;
        }
        .radios{
          @include position(absolute,15px null null 15px);
          @media #{$query-desktop} {
            top:20px;
            right: 20px;
          }
        }
        i{
          font-size: 45px;
          color:$colorPink;
          display: inline-block;

          @include position(absolute, 5px 15px null null);
          &.font-icon-bireysel-kurumsal{
            font-size: 55px;
            @media #{$query-desktop} {
              font-size: 80px;
            }
          }
          @media #{$query-desktop} {
            height: 80px;
            position: relative;
            top: auto;
            right: auto;
            margin-top: 40px;
            font-size: 60px;
            &:before{
              @include position(absolute,0px null null 0px);
            }
          }
          &:before{
            display: block;
          }
        }
        strong{
          display: block;
          @include fontSs(18px);
          margin:20px 0 5px 0;
          @media #{$query-desktop} {
            font-size: 21px;
            margin:20px 0 16px 0;
          }
        }
        span{
          display: block;
          @include fontSs(14px);
          color:$textColorLight;
          @media #{$query-desktop} {
            font-size: 16px;
            min-height: 80px;
          }
        }
      }
    }
    .recipient{
      padding: 30px 10px 0 10px;
      @media #{$query-desktop} {
        padding: 50px 0;
      }
      img{
        max-width: 489px;
        width: 100%;
      }
      .text{
        max-width: 470px;
        margin: 80px auto 0 auto;
        @include fontSs(18px);
        color:$textColor;
        @media #{$query-desktop} {
          margin-top: 90px;
        }
        strong{
          display: block;
          font-weight: 600;
        }
        span{
          display: block;
        }
      }
      .step-next-btn{
        @media #{$query-desktop} {
          text-align:center;
        }
        .btn{
          margin: 34px 0 20px 0;
          @media #{$query-desktop} {
            margin-top: 40px;
          }
        }
      }
    }
    .reciver-details{

      .line-border{
        margin: 0 -24px;
        &:after{
          width: 100%;
          height: 1px;
          background: $borderColor;
          content: "";
          display: block;
        }
      }
      .reciver-details-info{
        padding: 20px;
        border: 1px solid $borderColor;
        margin-bottom: 24px;
        position: relative;
        @include border-radius(4px);
        .details-title{
          @include clearfix();
          margin-bottom: 10px;
          strong{
            @include fontSs(18px);
            font-weight: 600;
          }

        }
        .items{
          @include clearfix();
          padding: 9px 0;
          strong{
            float: left;

            @include opacity(.5);
            @include fontSs(13px);
            color: $textColor;
            @media #{$query-desktop} {
              font-size: 16px;
              width: 30%;
            }
            em{
              float: right;
              font-style: normal;
            }
          }
          span{

            text-align: right;
            float: right;
            @include fontSs(13px);
            color: $textColor;
            @media #{$query-desktop} {
              font-size: 16px;
              width: 70%;
            }
          }
        }
        .edit{
          width: 100%;
          text-align: center;
          @include fontSs(16px);
          font-weight: 600;
          padding: 10px 0;
          margin-top:10px;
          display: block;
          @media #{$query-desktop} {
            width: auto;
            @include position(absolute, 10px 20px null null);
            padding: 6px 12px;
            font-size: 14px;
            font-weight: normal;
          }
        }
      }
    }
    .payment-type{
      .total{
        margin-bottom: 20px;
        @media #{$query-desktop} {
          margin-bottom: 48px;
        }
      }
      .payment-choice{
        margin-bottom: 20px;
        @media #{$query-desktop} {
          margin-bottom: 48px;
        }
        .radios-items-choose{
          margin-bottom: 10px;
          @media #{$query-desktop} {
            margin-bottom: 24px;
          }
        }
      }
      .promotion,
      .payment-choice{
        position: relative;
        .btn{
          font-size: 16px;
          font-weight: 600;
          width: 100%;
          padding-left: 18px;
          padding-right: 24px;
          @media #{$query-desktop} {
            display: inline-block;
            width: auto;
            @include position(absolute, -12px 0px null null);
          }
          i{
            margin-right: 14px;
          }
        }
      }
      .promotion{
        margin-bottom: 20px;
        @media #{$query-desktop} {
          margin-bottom: 24px;
        }
        .radios-items-choose{
          margin-bottom: 10px;
          @media #{$query-desktop} {
            margin-bottom: 24px;
          }
        }
        .items{
          label{
            strong{
              em{
                font-size: 18px;
                color:$colorPink;
                font-weight: 600;
                display: block;
                @media #{$query-tablet} {
                  display: inline;
                }
              }
            }
          }
        }
      }

      .credit{
        .credit-details{
          @include clearfix();
          border: 1px solid $borderColor;
          @include border-radius(4px);
          @include clearfix();
          margin-bottom: 24px;
          .credit-entery{
            width: 100%;
            padding: 0px 18px;
            height: 64px;
            @media #{$query-desktop} {
              width: 65%;
              float: left;
              border-right: 1px solid $borderColor;
            }
            .textbox-inside-label{
              margin-bottom: 0;
              label{
                top: 24px;
                @include opacity(1);
                color:#999;
                font-size: 13px;
                @media #{$query-desktop} {
                  font-size: 18px;
                  top:20px;
                }
                &.checked{
                  font-size: 13px;
                  top:10px;
                  @media #{$query-desktop} {
                    font-size: 14px;
                  }
                  &:before{
                    margin-top: 10px;
                  }

                }
                &:before{
                  top:50%;
                  left: -20px;
                  margin-right: 0;
                }
              }
              input[type=text]{
                border: 0;
                padding-left: 36px;
                display: none;
              }
            }
            .used-credit-amount{
              label{
                padding: 19px 0 17px 0;
                display: block;
              }
            }
          }
          .credit-info{
            width: 100%;
            border-top: 1px solid $borderColor;
            padding: 20px 24px 20px 24px;
            color:$textColor;
            text-align: center;
            @media #{$query-desktop} {
              width: 35%;
              float: right;
              text-align: left;
              padding: 20px 24px 0 24px;
              border:0;
            }
            strong{
              @include fontSs(16px);
              font-weight: 600;
              padding: 3px 0;
              display: inline-block;
            }
            span{

              @include fontSs(21px);
              margin-left: 30px;
              @media #{$query-desktop} {
                float: right;
                margin-left: 0;
              }
            }
          }
        }
        .credit-result{
          @include clearfix();
          position: relative;
          margin-bottom: 24px;
          .discount{
            width: 100%;

            border: 1px solid $borderColor;
            padding: 4px 20px;
            @include border-radius(4px);
            background: #fff;
            position: relative;
            @media #{$query-desktop} {
              width: 35%;
              float: left;
            }
            &:before{
              @media #{$query-desktop} {
                content: "";
                display: block;
                @include position(absolute, 50%  -272px null null);
                width: 247px;
                height: 1px;
                border-bottom: 1px dashed $borderColor;
              }

            }
            .item{
              @include clearfix();
              padding: 4px 0;
              strong{
                float: right;
                @include fontSs(14px);
                font-weight: 600;
                color:$colorPink;
              }
              span{
                @include fontSs(14px);
              }
            }
          }
          .grand-total{
            color:$textColor;
            position: relative;
            background: #fff;
            text-align: center;
            padding: 13px 0 0 0;
            @media #{$query-desktop} {
              //width: 65%;
              text-align: right;
              float: right;
              padding: 13px 0 13px 24px;
            }
            strong{
              @include fontSs(18px);
              font-weight: 600;

            }
            span{
              @include fontSs(24px);
              font-weight: 600;
              margin-left: 20px;
            }
          }
        }
      }
      .step-next-btn{
        .btn{
          width: 100%;
          max-width: 240px;
          text-align: center;
          @media #{$query-desktop} {
            max-width: 180px;
          }
        }
      }
    }
    .payment-plan{
      .total-amount{
        @include border-radius(4px);
        border: 1px solid $borderColor;
        padding: 10px 20px;
        margin-bottom: 24px;
        strong{
          display: block;
          text-align: center;
          @include fontSs(14px);
          font-weight: 600;
          color:$textColor;
          @media #{$query-desktop} {
            text-align: left;
            font-size: 16px;
          }
        }
        span{
          display: block;
          @include fontSs(36px);
          font-weight: 300;
          text-align: center;
          color: $colorPink;
          @media #{$query-desktop} {
            font-size: 48px;
            margin-top: -16px;
          }
        }
      }
      .addition-payment{
        display: none;
        .referance-code-form{
          margin: 0 -15px 20px -15px;
          @media #{$query-desktop} {
            margin: 0 -24px 24px -24px;
          }
        }
        .person-info{
          margin: 0 -15px;
          .select-inside-label{
            select{
              width: 30%;
            }
            input[type=text] {
              width: 70%;
            }
          }
        }
      }
    }
    .payment-summary{
      .payment-summary-center{
        .itemsC{
          border: 1px solid $borderColor;
          @include border-radius(4px);
          padding: 15px;
          margin-bottom: 20px;
          @media #{$query-desktop} {
            padding: 20px;
          }
          &.left{
            .items{
              border-bottom: 1px solid $borderColor;
              padding-bottom: 11px;
              margin-bottom: 20px;
              position: relative;
              &:last-child{
                margin-bottom: 0;
                border: 0;
                padding-bottom: 0;
              }
              .title{
                @include fontSs(16px);
                font-weight: 600;
                color:$textColor;
                margin-bottom: 17px;
                @media #{$query-desktop} {
                  font-size: 18px;
                }
              }
              div.item{
                padding: 9px 0;
                @include clearfix();
                strong{
                  display: block;
                  width: 40%;
                  float: left;
                  @include opacity(.5);
                  @include fontSs(13px);
                  color:$textColor;
                  @media #{$query-desktop} {
                    font-size: 15px;
                  }
                  &:after{
                    content: ":";
                    display: inline-block;
                    float: right;
                  }
                }
                span{
                  display: block;
                  width: 60%;
                  float: right;
                  text-align: right;
                  @include fontSs(13px);
                  color:$textColor;
                  @media #{$query-desktop} {
                    font-size: 15px;
                  }
                }
              }
              .edit{
                @include position(absolute, 0px 0px null null);
              }
            }
            .border-dashed{
              height: 1px;
              width: 100%;
              border-bottom: 1px dashed $borderColor;
              margin: 12px 0;
            }
          }
          &.right{
            padding: 10px 0px;
            .items{
              padding: 0 20px;
              .item{
                padding: 10px 0;
                @include clearfix();
                strong{
                  display: block;
                  width: 63%;
                  float: left;
                  @include fontSs(13px);
                  color:$textColor;
                  @media #{$query-desktop} {
                    font-size: 14px;
                  }
                  &:after{
                    content: ":";
                    display: inline-block;
                    float: right;
                  }
                }
                span{
                  display: block;
                  width: 37%;
                  float: right;
                  text-align: right;
                  @include fontSs(13px);
                  font-weight: 600;
                  color:$textColor;
                  @media #{$query-desktop} {
                    font-size: 14px;
                  }
                }
                &.monthly-payment{
                  strong{
                    font-size: 16px;
                    font-weight: 600;
                  }
                  span{
                    font-size: 16px;
                  }
                }
              }
            }
            .action{
              border-top: 1px solid $borderColor;
              padding: 20px 20px 10px 20px;
              margin-top: 11px;
              .btn{
                font-size: 18px;
                width: 100%;
              }
              em{
                display: block;
                font-style: normal;
                text-align: center;
                font-size: 9px;
                color:$textColor;
                margin-top: 20px;
                a{
                  color:$colorPink;
                }
              }
            }
          }
        }
      }
    }
    .amount-account-information{
      position: relative;
      padding: 12px 0 0 0;
      .btn{
        &.border{
          width: 100%;
          max-width: 240px;
          margin: 0 auto 15px auto;
          display: block;
          @media #{$query-desktop} {
            width: auto;
            max-width: inherit;
            @include position(absolute, 0px 0px null null);
          }
        }
      }
      .payment-request-date{
        select{
          height: 64px;
          @include fontSs(18px);
          color: $textColor;
          margin-bottom: 15px;
          border-color: $borderColor;
          padding-left: 20px;
          text-indent: 0;
          &:option{
            @include opacity(0.5);
          }
          @media #{$query-desktop} {
            margin-bottom: 0;
          }
        }
      }
    }
    .sample-bill{
      position: relative;
      margin-bottom: 24px;
      i{
        @include position(absolute, 0px null null 0px);
        font-size: 30px;
        color:$colorPink;
        display: inline-block;
        &:before{
          display: block;
        }
      }
      .sample-url{
        padding:  0 0 0 40px;
        span{
          display: block;
          color:$textColor;
          font-size: 16px;
        }
        a{
          color:$colorPink;
          text-decoration: underline;
        }
      }
    }
    .delivery-date{
      margin-bottom: 15px;
      position: relative;
      @media #{$query-desktop} {
        width: 100%;
        max-width: 250px;
        margin-bottom: 24px;
      }
      input[type=text]{
        height: 64px;
        line-height: 64px;
      }
      i{
        @include position(absolute,50% 10px null null);
        font-size: 20px;
        line-height: 20px;
        color:$colorTitle;
        margin-top: -10px;
        display: inline-block;
        &:before{
          display: block;
        }
      }
    }
  }
  .link{
    display: none;
    @media #{$query-desktop} {
      display: inline-block;
    }
  }
}