.press-container-top{
    background: $backgroundColor1;
    padding: 30px 0 70px 0;
    position: relative;
    @media #{$query-desktop} {
      padding: 100px 0;
    }
    h1 {
      @include fontEb(32px);
      color: $textColor;
      margin-top: 20px;
      @media #{$query-desktop} {
        margin-top: 70px;
        @include fontEb(48px);
      }
    }
    p {
      @include fontSs(21px);
      color: $textColorLight;
      padding: 25px 0;
    }
    img {
      display: none;
      @media #{$query-desktop} {
        max-width: 511px;
        display: inline-block;
      }
    }
}

.container-featured-news{
  padding: 60px 0;
  h2{
    text-align: center;
    margin-bottom: 40px;
  }
  .featuredCt{
    border:1px solid $borderColor;
    @include transition(all 0.2s ease);
    margin-bottom: 10px;
    &:hover{
      border-color: $colorGray;
    }
    img{
      width: 100%;
      display: block;
    }
    .featured-title{
      border-top: 1px solid $borderColor;
      padding: 20px;
      h4{
        color: $textColor;
        @include fontSs(21px);
        margin: 0px;
      }
      p{
        @include fontSs(16px);
        color: $textColorLight;
        margin: 15px 0;
        display: block;
      }
    }
  }
}

.container-featured-sub{
  background: $backgroundColor1;
  padding: 60px 0 20px;
  @include clearfix();
  .featuredCt{
    background: $colorWhite;
    @include clearfix();
    margin-bottom: 30px;
    .featured-title{
      border: 0px;
      border-left: 1px solid $borderColor;
     @include clearfix();
    }
    img{
      padding-top: 70px;
    }
  }
}