.singUp {
  background: url('../../img/singupBg.jpg') no-repeat center center;
  background-size: cover;
  min-height: 100%;
  padding: 40px 0;
  @include clearfix();
  .singUpCt {
    max-width: 430px;
    margin: 0 auto;
    width: 100%;
    .singUp-header {
      text-align: center;
      h1 {
        color: $colorWhite;
        @include fontEb(48px)
      }
      .subtitle {
        color: $colorWhite;
        display: block;
        padding: 10px 0;
        @include fontSs(21px)
      }
      .fb-login-button {
        margin: 10px 0;
      }
      .or {
        text-align: center;
        color: $colorWhite;
        @include fontSs(18px);
        padding: 20px 0;
        position: relative;
        max-width: 400px;
        margin:  0 auto;
        &:before {
          content: "";
          width: 30%;
          border-top: 1px solid $colorWhite;
          float: left;
        }
        &:after {
          content: "";
          width: 30%;
          border-top: 1px solid $colorWhite;
          float: right;
        }
        span {
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          left: 50%;

        }
      }
    }

    .singUp-select {
      overflow: hidden;
      margin: 20px auto;
      width: 100%;
      @include fontSs(21px);
      color: $colorWhite;
      padding-left: 10px;
      max-width: 400px;
      ul {
        li {
          width: 33.33%;
          float: left;
          text-align: left;
          @media #{$query-desktop} {
            width: 33.33%;
          }
          label{
            @include fontSs(16px);
            font-weight: normal;
            @media #{$query-desktop} {
              @include fontSs(21px);
              font-weight: normal;
            }
          }
          input{
            float: left;
            margin: 5px 10px 5px 0;
          }
        }
      }
    }

    .singUp-form{
      ul{
        li{
          width: 100%;
          position: relative;
          margin-bottom: 20px;
        }
      }
      .action{
        text-align: center;
        &.align-right{
          float: right;
        }
      }

      .form-sub-content{
        color: $colorWhite;
        margin-bottom: 40px;
        float: left;
        label{
          @include fontSs(12px);
          padding-left: 5px;
        }
        a{
          text-decoration: underline;
          color: $colorWhite;
        }
        .form-check{
          margin-bottom: 10px;
          &.align-center{
            @media #{$query-tablet} {
              padding:  0 50px;
            }
          }
        }
      }
      .form-sub-link{
        a{
          display: block;
          color: $colorWhite;
          text-decoration: underline;
        }
      }
      .center-form,
      .last-form{
        display: none;
        opacity: 0;
        min-height: 552px;
      }
      .left-ct{
        @media #{$query-tablet} {
          width: 50%;
          float: left;
          padding: 0 10px 0 0;
        }
      }
      .right-ct{
        @media #{$query-tablet} {
          width: 50%;
          float: right;
          padding: 0 0 0 10px;
        }
      }
    }
    &.fullCt{
      max-width: 740px;
      width: 100%;
    }
  }
}