.gift-ct{
  margin: 0 -25px;
  .banner{
    width: 100%;
  }
  .gift-code-ct{
    display: block;
    text-align: center;
    .gift-code{
      border: 1px solid $colorPink;
      margin: 25px 15px;
      @include clearfix();
      border-radius: 4px;
      cursor: pointer;
      @media #{$query-tablet} {
        margin: 50px auto;
        display: inline-block;
      }
      span{
        width: 80%;
        em{
          font-weight: bold;

          padding:8px 15px 8px 15px;
          float: left;
          @media #{$query-tablet} {
            padding:8px 15px 8px 0;
            border-right:1px solid $colorPink;
          }
        }
        i{
          display: block;
          font-style: normal;
          padding: 15px;
          @media #{$query-tablet} {
            float: left;
          }
        }
      }
      input{
        border: 0px;
        padding: 0px;
        font-weight: 600;
        @include fontSs(30px);
        width: 150px !important;
        min-width: auto !important;
        height: 34px;
      }
      img{
        width: 26px;
        height: 26px;
        margin: 10px 15px;
        float: right;
        @media #{$query-tablet} {
          float: none;
        }
      }

    }
  }
}
.gift-share{
  .social-icons{
    ul{
      li{
        margin: 0 5px;
        @include fontSs(16px);
        font-weight: 600;
        color:$textColor;
        @media #{$query-desktop} {
          margin: 0 35px;
          font-size: 18px;
        }
      }
    }
  }

}
.gift-list{
  label{
    padding-left: 20px !important;
    em{
      color: $colorPink;
      font-weight: bold;
    }
  }
}