
.myAccount-ct {
  background: $backgroundColor1;
  position: relative;
  @include clearfix();
  min-height: 100%;
  padding-bottom: 50px;
}

.left-side-bar {
  background: $colorWhite;
  box-shadow: 0 2px 8px 0 rgba(185, 185, 185, 0.5);
  border-radius: 4px;
  padding: 20px 20px 10px 20px;
  .title {
    color: $textColor;
    @include fontSs(24px);
    font-weight: 600;
    border-bottom: 1px solid $borderColor;
    margin: 0 -20px;
    padding: 0 20px 20px;
  }
  .left-side-bar-list {
    li {
      display: block;
      border-bottom: 1px solid $borderColor;
      position: relative;
      a {
        @include fontSs(18px);
        font-weight: 600;
        color: $textColor;
        display: block;
        padding: 24px 0;
        &:hover {
          color: $colorPink;
        }
        i {
          margin-top: -2px;
          margin-right: 20px;
          float: left;
        }
      }

      &.active {
        &:after {
          display: inline-block;
        }
        a {
          color: $colorPink;
        }

      }
      &:last-child {
        border-bottom: 0px;
      }
      &:after {
        @include position(absolute, 50% 0px null null);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 3.5px 4px 3.5px;
        border-color: transparent transparent #373737 transparent;
        content: "";
        margin-top: -2px;
        display: none;
        transform: rotate(90deg);
      }
    }
  }
}

.right-content {
  @include clearfix();
  background: $colorWhite;
  box-shadow: 0 2px 8px 0 rgba(185, 185, 185, 0.5);
  border-radius: 4px;
  padding: 25px;
  .title {
    color: $textColor;
    @include fontSs(24px);
    font-weight: 600;
    border-bottom: 1px solid $borderColor;
    margin: 0 -25px;
    padding: 0 20px 20px;
  }
}

.account-information {
  .info-ct {
    border: 1px solid $borderColor;
    border-radius: 4px;
    margin-top: 25px;
    padding: 20px 0;
    overflow: hidden;
    @include clearfix();
    img {
      float: left;
      max-width: 70px;
      margin-right: 20px;
    }
    h5 {
      margin: 0px;
    }
    .name {
      @include fontSs(24px);
      color: $textColor;
      font-weight: 400;
    }
    p {
      margin: 0px;
      i {
        font-size: 8px;
        display: inline-block;
        color: $colorPink;
        padding-left: 5px;
        position: absolute;
        margin-top: 4px;
      }
    }
    .account-number-ct {
      &:after {
        content: '';
        position: absolute;
        left: 0px;
        top: -20px;
        border-left: 1px solid $borderColor;
        height: 100vh;
        display: none;
        @media #{$query-desktop} {
          display: block;
        }
      }
      p {
        margin: 10px 0;
        @include clearfix();
        strong {
          @include fontSs(16px);
          color: $textColor;
          opacity: 0.5;
          float: left;
          width: 60%;
          display: inline-block;
          em {
            float: right;
            font-style: normal;
          }

        }
        span {
          width: 40%;
          display: block;
          text-align: right;
          float: right;
          &.pink {
            color: $colorPink;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.account-list {
  .account-information {
    .name {
      @include fontSs(18px);
      padding-top: 10px;
      display: block;
    }
    .userTye {
      @include fontSs(16px);
      opacity: 0.5;
    }
    .info-ct {
      padding: 20px 0 10px;
    }
  }
  .user-edit-ct {
    @include clearfix();
    margin-bottom: -5px;
    display: inline-block;
    width: 100%;
    label {
      color: $colorPink;
      @include fontSs(12px);
      margin: 1px 0 0 6px;
      float: left;
    }
  }
}

.account-password {
  h4 {
    margin-bottom: 20px;
    color: $textColor;
    @include fontSs(18px);
  }
}

.account-commission {
  margin: 25px 0;
  h4 {
    font-weight: 600;
    @include fontSs(18px);
    color: $textColor;
    margin: 20px 0;
  }
}

.account-sss {
  margin: 25px 0;
  ul {
    > li {
      border: 1px solid $borderColor;
      border-radius: 4px;
      margin-bottom: 20px;
      cursor: pointer;

      div {
        border-top: 1px solid $borderColor;
        padding: 25px 15px;
        margin: 0px !important;
        ul {
          list-style: disc;
          margin-left: 15px;
          margin-bottom: 10px;
          li {
            border: 0px;
            border-radius: 0;
            margin: 0px;
            cursor: auto;
          }
        }
      }
      h2 {
        color: $textColor;
        @include fontSs(18px);
        margin: 0px;
        font-weight: 600;
        padding: 18px 15px;
        span {
          display: none;
          border: 1px solid $colorPink;
          width: 18px;
          height: 18px;
          text-align: center;
          line-height: 15px;
          color: $colorPink;
          float: right;
          padding-left: 1px;
          border-radius: 50%;
          margin-top: 3px;
          &.open {
            display: inline-block;
          }
        }
      }
      &.active {
        h2 {
          span {
            display: none;
            &.closes {
              line-height: 14px;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}