.notification-ct {
  margin: 0 -25px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 540px;
  img {
    width: 100%;
    display: block;
    min-height: 180px;
  }
  ul {
    li {
      @include clearfix();
      border-bottom: 1px solid $borderColor;
    }
  }
  .text {
    padding: 0 24px 10px 20px;
    @include clearfix();
    @media #{$query-tablet} {
      padding: 0 10px 10px 0px;
    }

    h3 {
      @include fontSs(18px);
      i {
        color: $colorPink;
      }
    }
    p {
      color: $textColor;
    }
    .edit {
      margin-top: 10px;
    }
  }
}

.notification-settings {
  border: 1px solid $borderColor;
  border-radius: 4px;
  ul {
    li {
      border-bottom: 1px solid $borderColor;
      @include clearfix();
      padding: 15px;
      span {
        @include fontSs(14px);
        font-weight: bold;
        color: $textColor;
        @media #{$query-desktop} {
          @include fontSs(18px);
        }
      }
      &:last-child {
        border-bottom: 0px;
      }
    }
  }
  .lastContent {
    padding: 0px 17px;
    @include fontSs(18px);
    font-weight: bold;
    .first {;
      border-right: 0px;
      padding: 17px 15px;
      @media #{$query-desktop} {
        border-right: 1px solid $borderColor;
      }
    }
    .last {
      color: $colorPink;
      select{
        border: 0px;
        margin-top: 3px;
        margin-left: -4px;
      }
    }
  }
}

.campaign{
  margin: 0 -25px;
  img{
    width: 100%;
  }
  .campaignText{
    max-height: 300px;
    overflow: auto;
    padding: 20px;
  }
}