.payment{
  @media #{$query-desktop} {
    padding: 50px 0 170px 0;
  }
  .payment-content{
    @include box-shadow(0, 2px, 8px 0 , rgba(185, 185, 185, 0.5));
    background-color: #ffffff;
    @include clearfix();
    @media #{$query-desktop} {
      @include border-radius(4px);
      border: solid 1px #d7d7d7;
    }
    .head{
      @include fontSs(18px);
      color: $textColor;
      padding: 20px 15px;
      @media #{$query-desktop} {
        font-size: 24px;
        padding: 20px 30px;
      }

    }
    .referance-code-form{
      @extend .gradient;
      padding: 15px;
      @media #{$query-desktop} {
        padding: 20px 24px;
      }
      .forms{
        position: relative;
        input[type=text]{
          height: 64px;
          font-size: 16px;
          @media #{$query-desktop} {
            font-size: 18px;
            padding-left: 20px;
          }
        }
        .btn{
          width: 100%;
          font-size: 16px;
          padding-left:24px;
          padding-right: 24px;
          background: transparent;
          color:#fff;
          margin-top: 10px;
          @media #{$query-desktop} {
            @include position(absolute, 8px 8px null null);
            width: auto;
            color:$colorPink;
            background: #fff;
            margin: 0;
          }
          i{
            font-size: 12px;
            display: inline-block;
            margin-left: 15px;
            &:before{
              display: block;
            }
          }
        }
      }
    }
    .step-tabs{
      background: rgba(215,215,215,.1);
      border-top: 1px solid $borderColor;
      border-bottom: 1px solid $borderColor;
      height: 50px;
      overflow: hidden;
      position: relative;
      @media #{$query-tablet} {
        height: auto;
        overflow: auto;
      }
      ul{
        @include position(absolute,0px null null 0px);
        display: block;
        overflow: hidden;
        width: 100%;
        height: 50px;
        @media #{$query-tablet} {
          position: static;
          text-align: left;
          height: auto;
          @include display(flex);
          text-align: center;
        }
        li{
          display: inline-block;
          padding: 15px 0px 16px 0px;
          @include fontSs(13px);
          color:$textColor;
          position: relative;
          text-align: center;
          width: 33.3%;
          float: left;
          @media #{$query-tablet} {
            width: auto;
            margin-right: 10px;
            font-size: 16px;
            padding: 20px 0px;
            @include flex(1);
          }
          &:last-child{
            margin-right: 0;
            i{
              font-size: 12px;
              display: none;
              color:$colorPink;
              margin-left: 5px;
              position: relative;
              top: -3px;
            }
            &.active{
              i{
                display: inline-block;
              }
            }
          }
          span{
            opacity: .5;
          }
          &.active{
            span{
              opacity: 1;
            }
            &:after{
              width: 100%;
            }

            &:before{
              @media #{$query-tablet} {
                content: "";
                height: 1px;
                width: 9999px;
                background: $colorPink;
                display: block;
                @include position(absolute, null 0px 0px null);
                opacity: .6;
              }
            }


          }
          &:after{
            content: "";
            height: 3px;
            width: 0;
            background: $colorPink;
            display: block;
            @include position(absolute, null null -1px 0px);
            opacity: 1;
          }
        }
      }
    }
    .payment-forms{
      padding:20px 15px 0 15px;
      @media #{$query-desktop} {
        padding:24px 24px 0 24px;
      }
      .head-sub{
        padding-bottom:20px;
        @include clearfix();
        position: relative;
        @media #{$query-desktop} {
          padding-bottom:24px;
        }
        strong{
          @include fontSs(16px);
          color:$textColor;
          font-weight: 600;
          @media #{$query-desktop} {
            font-size: 18px;
          }
        }
        .edit{
          display: none;
          @media #{$query-desktop} {
            display: inline-block;
            @include position(absolute, 0px 0px null null);
          }
        }
      }
      .payment-result{
        .result{
          text-align: center;
          margin: 12px 0 40px 0;
          img{
            width: 100%;
            max-width: 394px;
          }
          span{
            display: block;
            color:$textColor;
            font-size: 16px;
            margin: 15px 0 0 0;
          }
        }
      }

    }
    .step-next-btn{
      text-align: center;
      width: 100%;
      padding: 0 0 20px 0;
      max-width: 240px;
      margin: 0 auto;
      @media #{$query-desktop} {
        padding: 0px 24px 0 0 ;
        text-align: right;
        max-width: none;
        margin: 0;
      }
      a{
        &.btn{
          width: 100%;
          margin-bottom: 15px;
          @media #{$query-desktop} {
            width: auto;
            margin: 0;
          }
        }
      }
    }
    .payment-tables{
      margin: 0 -16px;
      @media #{$query-desktop} {
        margin: 0;
      }
      .table{

        border: 1px solid $borderColor;
        @media #{$query-desktop} {
          @include border-radius(4px);
        }
        table{
          width: 100%;
          border-collapse: collapse;
          &.table-border{
            tr{
              &:last-child{
                td{
                  border-bottom:0px;
                }
              }
              &.active{
                td{
                  background-color: rgba(11, 13, 54, 0.05);
                }
              }
              th{
                @include fontSs(12px);
                font-weight: 600;
                color: $textColor;
                border: 1px solid $borderColor;
                border-top:0px;
                text-align: center;
                padding: 10px 0;
                @media #{$query-desktop} {
                  font-size: 15px;
                }
                &:first-child{
                  border-left: 0;
                  @media #{$query-desktop} {
                    text-align: left;
                    padding-left: 50px;
                  }
                }
                &:last-child{
                  border-right: 0;
                }
              }
              td{
                @include fontSs(14px);
                color: $textColor;
                border: 1px solid $borderColor;
                padding: 10px;
                height: 50px;
                text-align: center;
                position: relative;
                @media #{$query-desktop} {
                  font-size: 16px;
                  padding: 10px;
                }
                label{
                  padding-left: 18px;
                  font-weight: normal;
                  margin: 0;
                }
                .radios{
                  @include position(absolute,50% null null 10px);
                  margin-top: -9px;
                  @media #{$query-desktop} {
                    position: relative;
                    float: left;
                    top:1px;
                    left: auto;
                    margin: 0;
                  }
                  input{
                    position: relative;
                    top:1px;
                    @media #{$query-desktop} {
                      top:-1px;
                    }
                  }
                }
                .chckbox{
                  label{
                    padding-left: 0;
                    color:$textColor;
                    font-size: 14px;
                    @media #{$query-desktop} {
                      font-size: 16px;
                    }
                    &:before{
                      margin-right: 15px;
                      @media #{$query-desktop} {
                        margin-right: 35px;
                      }
                    }
                  }
                }
                &:first-child{
                  border-left: 0;
                  @media #{$query-desktop} {
                    padding-left: 15px;
                    text-align: left;
                  }
                }
                &:last-child{
                  border-right: 0;
                }
              }
            }
          }
        }
      }
    }

  }
}


.paymentForm-list{
  .title{
    border: solid 1px $borderColor;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    &.active{
      background-color: rgba(11, 13, 54, 0.05);
      h4{
        .icon-open{
          display: none;
        }
        .icon-close{
          display: inline-block;
        }
      }
    }
    h4{
      @include fontSs(18px);
      font-weight: 600;
      i{
        font-style: normal;
        border:1px solid $borderColor;
        border-radius:50%;
        width: 20px;
        height: 20px;
        display: inline-block;
        text-align: center;
        color: $colorPink;
        float: right;
        @include fontSs(18px);
        line-height: 18px;
        &.icon-close{
          display: none;
          font-size: 28px;
          line-height: 14px;
        }
        &.icon-open{
          display: inline-block;
        }
      }
    }
  }
  .payment-type{
    border: 1px solid $borderColor;
    border-top:0px;
    @include clearfix();
    padding:20px;
    border-radius: 0 0 4px 4px;
    margin-top: -2px;

  }

  li{
    margin-bottom: 30px;
  }
}