
.paymentMethodct {
  background-color: $backgroundColor1;
  @include clearfix();
  padding: 50px 0;
  .head{
    border-bottom: 1px solid $borderColor;
  }
  .left-side-bar {
    background-color: $colorWhite;
    box-shadow: 0 2px 8px 0 rgba(185, 185, 185, 0.5);
    border-radius: 4px;
    padding: 15px;
    img {
      margin: 0 auto;
      display: block;
      width: 100%;
    }
    .title {
      @include fontSs(18px);
      color: $textColor;
      border-bottom: 1px solid $borderColor;
      margin: 0 -15px;
      padding: 0 20px 10px;
      font-weight: 600;
    }
    h4 {
      @include fontSs(18px);
      color: $textColor;
      font-weight: 600;
      padding: 20px 0;
      border-bottom: 1px solid $borderColor;
    }
    ul {
      list-style: disc;
      padding: 10px 20px 10px 25px;
      li {
        @include fontSs(16px);
        color: $textColor;
        padding-bottom: 8px;
        a {
          color: $colorPink;
        }
      }
    }
  }
  .right-side-bar {
    box-shadow: 0 2px 8px 0 rgba(185, 185, 185, 0.5);
    background-color: $colorWhite;
    border-radius: 4px;
    padding: 20px 25px;
    .title {
      margin: 0 -25px 25px;
      border-bottom: 1px solid $borderColor;
      padding: 10px 25px;
      h3 {
        @include fontSs(24px);
        font-weight: 600;
        margin: 0px;
      }
    }
    .subTitle {
      h4 {
        @include fontSs(18px);
        font-weight: 600;
        margin: 15px 0;
      }
    }
  }
  .monthly-payment{
    border-top: 1px dashed $borderColor;
  }
  .payment-summary-center{
    .btn{
      width: 100%;
    }
  }

}


.filterCt{
  @include clearfix();
  .inputbox{
    position: relative;
    color: $textColor;
    .font-icon-search{
      position: absolute;
      right: 10px;
      top:15px;
      left:auto;
    }
  }
  .filterSelect{
    select{
      padding-left: 10px;
      color: $textColor;
      @include fontSs(16px);
      font-weight: normal;
    }
  }
  .datebox{
    .date{
      position: relative;
      .font-icon-calendar-black{
        position: absolute;
        left:18px;
        top:13px;
      }
      input{
        text-indent: 20px;
      }
    }
  }

  .items{
    label{
      color: $textColor;
      @include fontSs(16px);
      font-weight: normal;
      margin-top: -3px;
    }
  }
  .radios{
    float: left;
    margin-right: 7px;
    margin-top: 3px;

  }
  .btn{
    display: block;
    margin: 15px 0;
  }
}