.wallet-ct {
  padding: 20px 0;
  .or-text {
    margin: 15px 0;
    @include fontSs(18px);
    color: $textColor;
    font-weight: 600;
  }
  label {
    span {
      opacity: 1 !important;
    }
    .font-icon-promosyon-gray {
      opacity: .5;
    }
  }
  .items {
    em {
      font-weight: bold !important;
      color: $colorPink !important;
    }
  }
}

.wallet-price-ct {
  border: 1px solid $borderColor;
  border-radius: 4px;
  @include clearfix();
  li {
    padding: 10px;
    p {
      @include fontSs(32px);
      text-align: center;
      line-height: 57px;
      font-weight: 300;
      @media #{$query-desktop} {
        @include fontSs(64px);
        text-align: center;
        line-height: 115px;
        font-weight: 300;
      }
    }
    b {
      @include fontSs(16px);
      font-weight: 600;
    }
    &:first-child {
      border-right: 1px solid $borderColor;
    }
  }
}

.credit-list {
  border-top: 1px solid $borderColor;
  margin: 20px -25px 0;
  padding: 25px 25px 0;
  h4{
    font-weight: 600;
    padding: 10px 0;
  }
  .credit-list-ct {
    border: 1px solid $borderColor;
    border-radius: 4px;
    @include clearfix();
    max-height: 180px;
    overflow: auto;
    ul {
      li {
        border-bottom: 1px solid $borderColor;
        padding: 18px 0;
        color: $textColor;
        @include clearfix();
        @include fontSs(16px);
        &:last-child{
          border-bottom: 0px;
        }
      }
    }
  }
}