.addcard-modal{
  width: 100%;
  max-width: 390px;
  .modal-header{
    text-align: center;
    padding-top: 30px;
    i{
      width: 56px;
      height: 56px;
      text-align: center;
      line-height: 52px;
      display: inline-block;
      @include border-radius(50%);
      color:$colorPink;
      font-size: 23px;
      border: 1px solid $borderColor;
      background: #fff;
      @include position(absolute, -28px null null 50%);
      margin-left: -28px;
    }
    strong{
      display: block;
      @include fontSs(21px);
      color:$textColor;
      margin-bottom: 5px;
    }
  }
  .modal-body{
    padding: 20px 15px 30px 15px;
    span{
      display: block;
      @include fontSs(18px);
      color:$textColorLight;
      text-align: center;
    }
  }
  .modal-footer{
    text-align: center;
    border: 0;
    padding-top: 0;
    padding-bottom: 40px;
    .btn{
      &.gradient{
        width: 100%;
        max-width: 290px;
      }
    }
  }
  .modal-close{
    text-align: center;
    padding: 10px 0;
    a{
      display: inline-block;
      @include fontSs(14px);
      color: #fff;
    }
  }
}