.btn{
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  @include border-radius(4px);
  padding: 13px 33px 14px 33px;
  color:#fff;
  display: inline-block;
  border: 0;
  outline: none;
  @media #{$query-desktop} {
    font-size: 18px;
  }
  &.gradient{
    @extend .gradient;
    box-shadow: 0px 9px 12px -7px rgba(129,1,80,0.4);
    &:focus,
    &:hover{
      color:#fff;
    }
  }
  &.border{
    &.white{
      border: 1px solid #fff;
      color:#fff;
      background: transparent;
    }
    &.pink{
      @include border-radius(4px);
      border: solid 1px $borderPinkColor;
      color:$colorPink;
      background: #fff;
      i{
        &.font-icon-trash,
        &.font-icon-add-card{
          font-size: 12px;
          display: inline-block;
          margin-right: 15px;
          &:before{
            display: block;
          }
        }
        &.font-icon-trash{
          font-size: 18px;
          position: relative;
          top: 2px;
        }
        &.font-icon-arrow-left{
          font-size: 14px;
          position: relative;
          float: left;
          margin-right: 10px;
        }
      }
    }
  }
  &.page-link{
    @include border-radius(25px);
    padding: 11px 24px 12px 24px;
    box-shadow: none;
  }
  &.white{
    background: #fff;
  }
}

.edit{
  @include border-radius(4px);
  color:$colorPink;
  padding: 6px 12px;
  border: 1px solid rgba(129,1, 79, .3);
}
.readMore{
  border-radius: 4px;
  border: 1px solid rgba(129,1, 79, .3);
  @include fontSs(16px);
  color: $borderDarkPinkColor;
  padding:7px 30px 7px 15px;
  display: inline-block;
  position: relative;
  &:after{
    content: "";
    width: 0;
    height: 0;
    display: inline-block;
    border-style: solid;
    border-width: 3.5px 0 3.5px 4px;
    border-color: transparent transparent transparent #000000;
    @include position(absolute,50% 12px null null);
    margin-top: -2px;
  }
  &:hover{
    border: 1px solid rgba(129,1, 79, 1);
    color: $borderDarkPinkColor;
  }
}

.step-next-btn{
  text-align: center;
  &.align-right{
    @media #{$query-desktop} {
      text-align: right;
    }
  }
  .btn{
    width: 100%;
    max-width: 240px;
    margin-bottom: 15px;
    @media #{$query-desktop} {
      max-width: none;
      width: auto;
      margin-bottom: 0;
    }
  }
}