.card-container{
  @include position(absolute,0px 0px 0px 0px);
  width: 100%;
  z-index: 50;
  .card-container-relative{
    background-color: #424362;
    padding-bottom: 80px;
    top: 60px;
    z-index: 50;
    position: relative;
    @include animation('slide-down-fade 1s alternate ease');
    @media #{$query-desktop} {
      top:70px;
    }
    .card-block{
      padding: 20px 0 70px 0;
      @media #{$query-desktop} {
        padding: 50px 0;
      }
      .new-card-add{
        color:#fff;
        position: relative;
        .head{
          strong{
            @include fontSs(18px);
            font-weight: 600;
            @media #{$query-desktop} {
              font-size: 24px;
            }
          }
        }
        .card-close{
          @include position(absolute, 0px 0px null null);
          text-align: center;
          @media #{$query-desktop} {
            display: none;
          }
          a{
            @include opacity(.5);
            @include fontSs(15px);
            color: #ffffff;
            font-weight: 300;
            margin: 0;
            &:hover{
              @include opacity(1);
            }
            i {
              width: 14px;
              height: 14px;
              @include border-radius(50%);
              text-align: center;
              display: inline-block;
              font-size: 6px;
              border: 1px solid #fff;
              line-height: 12px;
              position: relative;
              top: -2px;
              margin-right: 4px;
              &:before {
                display: block;
              }
            }
          }
        }
        .card-simulator{
          border: 1px solid $borderColor;
          @include border-radius(4px);
          height: 115px;
          display: block;
          background: url('../../img/image-flare@2x.png') no-repeat top right;
          background-size: contain;
          margin-top: 10px;
          @media #{$query-desktop} {
            height: 200px;
          }
        }
        a{
          color: #fff;
          display: block;
          text-align: center;
          margin-top: 15px;
          &.head-link{
            border: 1px solid $borderColor;
            @include fontSs(14px);
            color: #fff;
            @include border-radius(4px);
            padding: 11px 6px;
            display: block;
            margin: 10px 0 15px 0;
            @media #{$query-desktop} {
              display: inline-block;
              @include position(absolute, 0px 0px null null);
              padding: 6px;
              margin: 0;
            }
            &:hover{
              span{
                @include opacity(1);
              }
            }

            i{
              font-size: 11px;
              display: inline-block;
              &:before{
                display: block;
              }
            }
          }
          span{
            @include opacity(.5);
          }
        }
      }
      .card-forms{
        color:#fff;
        .head{
          @include fontSs(16px);
          font-weight: 600;
          @media #{$query-desktop} {
            font-size: 18px;
          }
        }
        .items{
          position: relative;
          margin-top: 18px;
          input[type=text]{
            height: 64px;
            background: transparent;
            color:#fff;
            padding-left: 20px;
            border: 1px solid rgba(255,255,255,.5);
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              opacity: 1;
              color:#fff;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              opacity: 1;
              color:#fff;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              opacity: 1;
              color:#fff;
            }
            &:-moz-placeholder { /* Firefox 18- */
              opacity: 1;
              color:#fff;
            }
          }
          label{
            color:#fff;
          }
          .font-icon-calendar-black{
            @include position(absolute, 50% 20px null auto);
            font-size: 16px;
            color:#fff;
            margin-top: -11px;
            display: inline-block;
            z-index: 1;
            &:before{
              display: block;
            }
          }
        }

      }
      .masterpass{
        display: none;
        .new-card-add{
          .card-simulator{
            text-align: center;
            line-height: 200px;
          }
        }
      }
    }
    .card-footer{
      @include position(absolute, null null 0px 0px);
      width: 100%;
      @media #{$query-desktop} {
        background-color: #313249;
        height: 80px;
      }
      .card-bank-icons{
        padding: 20px 0 0 0;
        @media #{$query-desktop} {
          float: left;
        }
        ul{
          display: block;
          text-align: center;
          background: $backgroundColor1;
          @include border-radius(4px);
          padding: 5px 10px;
          @media #{$query-desktop} {
            display: inline-block;
          }
          li{
            display: inline-block;
            margin: 0 2px;
            img{
              width: 28px;
            }
            &.papara{
              img{
                width: 44px;
              }
            }
          }
        }
      }
      .card-close{
        @include position(absolute, 0px null null 0px);
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 80px;
        z-index: 0;
        display: none;
        @media #{$query-desktop} {
          display: block;
        }
        a{
          @include opacity(.5);
          @include fontSs(15px);
          color: #ffffff;
          font-weight: 300;
          &:hover{
            @include opacity(1);
          }
          i{
            width: 14px;
            height: 14px;
            @include border-radius(50%);
            text-align: center;
            display: inline-block;
            font-size: 6px;
            border: 1px solid #fff;
            line-height: 12px;
            position: relative;
            top: -2px;
            margin-right: 4px;
            &:before{
              display: block;
            }
          }
        }
      }
      .card-action{
        padding: 15px 0;
        position: relative;
        background-color: #313249;
        margin: 20px -15px 0 -15px;

        @media #{$query-desktop} {
          float: right;
          max-width: 240px;
          width: 100%;
          margin: 0;
          background-color: transparent;
          padding: 15px 0 0 0;
        }
        a{
          width: 100%;
          max-width: 240px;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}
.jp-card-container{
  padding: 15px;
  @media #{$query-desktop} {
    padding: 20px;
  }
}
.jp-card-logo{
  @include fontSs(18px);
  @media #{$query-desktop} {
    @include fontSs(24px);
  }
}
.jp-card.jp-card-ie-10.jp-card-flipped, .jp-card.jp-card-ie-11.jp-card-flipped {
  -webkit-transform: 0deg;
  -moz-transform: 0deg;
  -ms-transform: 0deg;
  -o-transform: 0deg;
  transform: 0deg
}
.jp-card.jp-card-ie-10.jp-card-flipped .jp-card-front, .jp-card.jp-card-ie-11.jp-card-flipped .jp-card-front {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg)
}
.jp-card.jp-card-ie-10.jp-card-flipped .jp-card-back, .jp-card.jp-card-ie-11.jp-card-flipped .jp-card-back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg)
}
.jp-card.jp-card-ie-10.jp-card-flipped .jp-card-back .jp-card-cvc, .jp-card.jp-card-ie-11.jp-card-flipped .jp-card-back .jp-card-cvc {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  left: 5%
}
.jp-card.jp-card-ie-10.jp-card-flipped .jp-card-back .jp-card-shiny, .jp-card.jp-card-ie-11.jp-card-flipped .jp-card-back .jp-card-shiny {
  left: 84%
}
.jp-card.jp-card-ie-10.jp-card-flipped .jp-card-back .jp-card-shiny:after, .jp-card.jp-card-ie-11.jp-card-flipped .jp-card-back .jp-card-shiny:after {
  left: -480%;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg)
}
.jp-card.jp-card-ie-10.jp-card-amex .jp-card-back, .jp-card.jp-card-ie-11.jp-card-amex .jp-card-back {
  display: none
}

.jp-card.jp-card-amex.jp-card-flipped {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none
}
.jp-card.jp-card-amex.jp-card-identified .jp-card-front .jp-card-logo.jp-card-amex {
  opacity: 1
}
.jp-card.jp-card-amex.jp-card-identified .jp-card-front .jp-card-cvc {
  visibility: visible
}
.jp-card.jp-card-amex.jp-card-identified .jp-card-front:after {
  opacity: 1
}
.jp-card.jp-card-visa.jp-card-identified .jp-card-logo.jp-card-visa {
  opacity: 1;
}

.jp-card.jp-card-mastercard.jp-card-identified .jp-card-logo.jp-card-mastercard {
  opacity: 1
}

.jp-card.jp-card-maestro.jp-card-identified .jp-card-logo.jp-card-maestro {
  opacity: 1
}
.jp-card-container {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  height: 115px;
  position: relative;
  @media #{$query-desktop} {
    height: 200px;
  }
}
.jp-card {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  transition: all 400ms linear
}
.jp-card.jp-card-flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg)
}
.jp-card .jp-card-front, .jp-card .jp-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  transition: all 400ms linear;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.jp-card .jp-card-front:before, .jp-card .jp-card-back:before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  transition: all 400ms ease
}
.jp-card .jp-card-front:after, .jp-card .jp-card-back:after {
  content: " ";
  display: block
}
.jp-card .jp-card-front .jp-card-display, .jp-card .jp-card-back .jp-card-display {
  color: #fff;
  font-weight: normal;
  -webkit-transition: opacity 400ms linear;
  -moz-transition: opacity 400ms linear;
  transition: opacity 400ms linear
}
.jp-card .jp-card-front .jp-card-display.jp-card-focused, .jp-card .jp-card-back .jp-card-display.jp-card-focused {
  opacity: 1;
  font-weight: 700
}

.jp-card .jp-card-front .jp-card-logo {
  @include opacity(0);
  @include position(absolute, null 0px 0px null);
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  transition: 400ms
}
.jp-card .jp-card-front .jp-card-lower .jp-card-cvc {
  visibility: hidden;
  float: right;
  position: relative;
  bottom: 5px
}
.jp-card .jp-card-front .jp-card-lower .jp-card-number {
  font-size: 14px;
  clear: both;
  @include position(absolute,20px null null 0px);
  @media #{$query-desktop} {
    top:50%;
    font-size: 16px;
  }
}
.jp-card .jp-card-front .jp-card-lower .jp-card-expiry {
  position: relative;
  float: right;
}
.jp-card .jp-card-front .jp-card-lower .jp-card-expiry:before, .jp-card .jp-card-front .jp-card-lower .jp-card-expiry:after {
  font-weight: 400;
  font-size: 7px;
  white-space: pre;
  display: block;
  opacity: .5
}
.jp-card .jp-card-front .jp-card-lower .jp-card-expiry:before {
  content: attr(data-before);
  margin-bottom: 2px;
  font-size: 7px;
  text-transform: uppercase
}
.jp-card .jp-card-front .jp-card-lower .jp-card-expiry:after {
  position: absolute;
  content: attr(data-after);
  text-align: right;
  right: 100%;
  margin-right: 5px;
  margin-top: 2px;
  bottom: 0
}
.jp-card .jp-card-front .jp-card-lower .jp-card-name {
  text-transform: uppercase;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  width: 50%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: horizontal;
  overflow: hidden;
  text-overflow: ellipsis;
  @media #{$query-desktop} {
    font-size: 20px;
  }

}
.jp-card .jp-card-back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg)
}
.jp-card .jp-card-back .jp-card-bar {
  background-color: #444;
  background-image: -webkit-linear-gradient(#444, #333);
  background-image: linear-gradient(#444, #333);
  width: 100%;
  height: 20%;
  position: absolute;
  top: 10%
}
.jp-card .jp-card-back:after {
  content: " ";
  display: block;
  background-color: #fff;
  background-image: -webkit-linear-gradient(#fff, #fff);
  background-image: linear-gradient(#fff, #fff);
  width: 80%;
  height: 16%;
  position: absolute;
  top: 40%;
  left: 2%
}
.jp-card .jp-card-back .jp-card-cvc {
  position: absolute;
  top: 40%;
  left: 85%;
  -webkit-transition-delay: 600ms;
  -moz-transition-delay: 600ms;
  transition-delay: 600ms
}
.jp-card .jp-card-back .jp-card-shiny {
  position: absolute;
  top: 66%;
  left: 2%
}
.jp-card .jp-card-back .jp-card-shiny:after {
  content: "This card has been issued by Jesse Pollak and is licensed for anyone to use anywhere for free. It comes with no warranty. For support issues, please visit: github.com/jessepollak/card.";
  position: absolute;
  left: 120%;
  top: 5%;
  color: white;
  font-size: 7px;
  width: 230px;
  opacity: .5
}
.jp-card.jp-card-identified .jp-card-front:before, .jp-card.jp-card-identified .jp-card-back:before {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  transition: all 400ms ease;
  opacity: 1
}