// Datatables

/*
 * MDBootstrap integration with Datatables
 * Learn more: https://mdbootstrap.com/content/bootstrap-datatables/
 * About MDBootstrap: https://mdbootstrap.com/
 *
 * This combined file was created by the DataTables downloader builder:
 *   https://datatables.net/download
 *
 * To rebuild or modify this file with the latest versions of the included
 * software please visit:
 *   https://datatables.net/download/#bs4/dt-1.10.18
 *
 * Included libraries:
 *   DataTables 1.10.18
 */

table {
  &.dataTable {
    thead {
      cursor: pointer;
      > tr {
        > th {
          &:active {
            outline: none;
          }
        }
        > td {
          &:active {
            outline: none;
          }
        }
      }
    }
  }
}

div {
  &.dataTables_wrapper {
    div {
      &.dataTables_length {
        &.d-flex {
          &.flex-row {
            label {
              margin-top: 1.2rem;
              margin-right: 1rem;
            }
            .select-wrapper {
              &.mdb-select {
                span,
                .select-dropdown {
                  margin-top: 1rem;
                }
              }
            }
          }
        }
      }
      &.dataTables_length,
      &.dataTables_filter {
        label {
          text-align: left;
          font-weight: normal;
          padding-top: .5rem;
          padding-bottom: .5rem;
        }
      }
      &.dataTables_length,
      &.dataTables_filter {
        select,
        input {
          width: auto;
        }
      }
      &.dataTables_filter {
        text-align: right;
        input {
          margin-left: .5rem;
          display: inline-block;
        }
      }
      &.dataTables_info,
      &.dataTables_paginate {
        font-weight: normal;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      &.dataTables_paginate {
        text-align: right;
        margin: 0;
        ul {
          &.pagination {
            justify-content: flex-end;
            .page-item {
              &.active {
                .page-link {
                  &:focus {
                    background-color: #4285f4;
                  }
                }
              }
              .page-link {
                &:focus {
                  box-shadow: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  div {
    &.dataTables_wrapper {
      div {
        .dataTables_length,
        .dataTables_filter,
        .dataTables_info,
        .dataTables_paginate ul.pagination {
          text-align: center;
          justify-content: center;
        }
      }
    }
  }
}

.bs-select {
  select {
    display: inline-block !important;
  }
}

.fa-caret-down.fa-caret-down {
  display: none;
}

.sorting_asc {
  .fa-caret-down {
    display: inline-block;
  }
  .fa-caret-up {
    display: none;
  }
}

.sorting_desc {
  .fa-caret-up {
    display: inline-block;
  }
  .fa-caret-down {
    display: none;
  }
}

.tableCt {

  .table {
    border-radius: 4px !important;
    border: 0px !important;
    margin-bottom: -1px !important;
    select {
      padding: 0px;
      border: 0px;
      height: auto;
      background-color: transparent;
    }
    .font-icon-settings {
      color: $colorGray;
    }
    .popOver {
      background-color: $colorWhite;
      border-radius: 4px;
      padding: 5px;
      box-shadow: 0 8px 16px 0 rgba(51, 51, 51, 0.3);
      display: none;
      position: absolute;
      min-width: 160px;
      right: 10px;
      .arrow-up {
        width: 0px;
        height: 0px;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 11px solid #fff;
        position: absolute;
        top: -10px;
        right: 20px;
      }
      ul {
        li {
          text-align: left;
          a {
            color: $textColor;
            @include fontSs(14px);
            font-weight: normal;
            display: block;
            line-height: 25px;
            padding: 0 4px;
            &:hover {
              background-color: rgba(11, 13, 54, 0.05);
            }
          }
        }
      }
    }
  }
  .tableOver {
    border: solid 1px $borderColor !important;
    border-radius: 4px;
  }
  th {
    background: #FAFAFA;
    @include fontSs(16px);
    color: $textColor;
    border-right: 1px solid $borderColor;
    padding: 14px 8px !important;
    text-align: center;
    &:last-child {
      border-right: 0px;
    }
  }
  tr {
    &.checked {
      background-color: rgba(11, 13, 54, 0.05);
    }
  }
  td {
    padding: 15px 8px !important;
    @include fontSs(18px);
    color: $textColor;
    border-right: 1px solid $borderColor;
    text-align: center;
    &:last-child {
      border-right: 0px;
    }
    &:first-child {
      text-align: left;
    }
    &.setting {
      position: relative;
      &:hover {
        .popOver {
          z-index: 9;
          display: block;
        }
      }
    }
  }
  .tbCheck {
    text-align: center;
    label {
      &:before {
        margin-right: 0px !important;

      }
    }
    input[type="checkbox"] {

      &.pink {
        + label {
          color: $textColor;
        }

        + label:before {

          color: $colorPink;
        }

        &:checked {
          + label:before {
            background-color: $colorWhite !important;
          }
        }
      }
    }
  }
}