.flex-control-paging{
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  li{
    display: inline-block;
    margin: 0 5px;
    a{
      text-indent: -99999px;
      width: 20px;
      height: 4px;
      border: 1px solid $colorPink;
      display: inline-block;
      &.flex-active{
        width: 40px;
        height: 4px;
        background: #861255;
      }
    }
  }
}