.footer{
  .social-icons{
    background: $backgroundColor1;
    padding: 30px 0;
    @media #{$query-desktop} {
      padding: 36px 0;
    }
    ul{
      display: block;
      text-align: center;
      li{
        display: inline-block;
        margin: 0 20px;
        @media #{$query-desktop} {
          margin: 0 45px;
        }
        a{
          color:#861255;
          font-size: 21px;
        }
      }
    }
  }
  .app-phone-info{
    background: url('../../img/footer.png') center center no-repeat;
    background-size: cover;
    color:#fff;
    padding: 50px 0 30px 0 ;
    @media #{$query-desktop} {
      height: 480px;
      min-height: 480px;
      padding: 0;
    }
    @include clearfix();
    .wrapper{
      height: 100%;
      .application{
        padding-bottom: 10px;
        @media #{$query-desktop} {
          width: 48%;
          float: left;
          position: absolute;
          top: 50%;
          left: 15px;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          padding: 0;
        }
        strong{
          font-family: EBGaramond;
          font-size: 32px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.13;
          letter-spacing: normal;
          @media #{$query-desktop} {
            font-size: 64px;
          }
        }
        p{
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: #ffffff;
          margin: 20px 0;
          @media #{$query-desktop} {
            font-size: 21px;
          }
        }
        ul{
          li{
            display: inline-block;
            &:first-child{
              margin-right: 15px;
              @media #{$query-desktop} {
                margin-right: 20px;
              }
            }
            img{
              &.appStore{
                width: 135px;
              }
              &.googlePlay{
                width: 136px;
              }
            }
          }
        }
      }
      .phone{
        @media #{$query-desktop} {
          width: 52%;
          float: right;
          position: absolute;
          top: 50%;
          right: 15px;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          padding-left: 50px;
        }
        .itemC{
          @include clearfix();
          @media #{$query-desktop} {
            float: right;
          }
          .items{
            @include clearfix();
            margin-top: 10px;
            @media #{$query-desktop} {
              margin-top: 0px;
            }
            .item-left{
              font-family: EBGaramond;
              font-size: 18px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.5;
              letter-spacing: normal;
              color: #ffffff;
              float: left;
              @media #{$query-desktop} {
                font-size: 24px;
                min-width: 200px;
              }
            }
            .item-right{
              float: left;
              margin-left: 4px;
              a{
                display: inline-block;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.71;
                letter-spacing: normal;
                color: #ffffff;
                text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
                margin-left: 12px;
                @media #{$query-desktop} {
                  font-size: 21px;
                }
              }
            }
          }
        }
      }
    }

  }
  .links{
    padding: 32px 0;
    @include clearfix();
    ul{
      display: block;
      li{

        font-size: 13px;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        float: left;
        width: 50%;
        padding: 7px 0;
        @media #{$query-desktop} {
          float: none;
          width: auto;
          margin: 0 15px;
          padding: 0;
          display: inline-block;
        }
        &:first-child{
          margin-left: 0;
        }
        &:last-child{

          font-weight: normal;
          font-style: normal;
          color: $textColor;
          width: 100%;
          text-align: center;
          padding-top: 20px;
          @media #{$query-desktop} {
            float: right;
            text-align: left;
            width: auto;
            padding: 0;
          }
        }
        a{
          font-weight: 600;
          font-style: normal;
          color: $textColor;
          position: relative;
          display: inline-block;
          padding-left: 10px;
          &:before{
            content: "·";
            @include position(absolute,0px null null 0px);
          }
          @media #{$query-desktop} {
            text-transform: uppercase;
            padding:0;
          }
        }
      }
    }
  }
}

.footerNumber{
    .form-check{
      max-width: 329px;
      width: auto;
      float: left;
      @media #{$query-desktop} {
        width: 100%;
      }
    }
  input{
    border-radius: 0px !important;
  }
}