input[type=text], input[type=password] {
  @include border-radius(4px);
  background-color: #ffffff;
  border: solid 1px $borderColor;
  font-size: 18px;
  box-shadow: none;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $textColor;
  width: 100%;
  height: 50px;
  line-height: 50px;
  opacity: 1;
  padding-left: 20px;
  outline: none;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: .5;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    opacity: .5;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    opacity: .5;
  }
  &:-moz-placeholder { /* Firefox 18- */
    opacity: .5;
  }
}

input[type="checkbox"] {
  &.pink {
    opacity: 0;
    @include position(absolute);
    cursor: pointer;
    @include size(16px);
    margin: 6px 0 0 0;
    + label {
      cursor: pointer;
      @include fontSs(18px);
      color: $textColor;
    }

    + label:before {
      display: inline-block;
      @include size(16px);
      @include border-radius(3px);
      vertical-align: middle;
      cursor: pointer;
      background: #fff;
      border: 1px solid $borderColor;
      @extend %default-transition;
      content: "";
      color: #fff;
      @extend %font;
      font-size: 9px;
      line-height: 14px;
      text-align: center;
      margin-right: 10px;
      position: relative;
      top: -2px;
    }

    &:checked {
      + label:before {
        border-color: $colorPink;
        background-color: $colorPink;
        content: font-char(check);
      }
    }
  }

  &.transparent {
    opacity: 0;
    @include position(absolute);
    cursor: pointer;
    @include size(16px);
    margin: 6px 0 0 0;
    + label {
      cursor: pointer;
      @include fontSs(18px);
    }

    + label:before {
      display: inline-block;
      @include size(16px);
      @include border-radius(3px);
      vertical-align: middle;
      cursor: pointer;
      background: transparent;
      border: 1px solid $borderColor;
      @extend %default-transition;
      content: "";
      color: #fff;
      @extend %font;
      font-size: 9px;
      line-height: 16px;
      text-align: center;
      margin-right: 10px;
      position: relative;
      top: -2px;
    }

    &:checked {
      + label:before {
        border-color: $borderColor;
        background-color: transparent;
        content: font-char(check);
      }
    }
  }
}

select {
  @include border-radius(4px);
  width: 100%;
  height: 50px;
  @extend .selectMenuArrow;
  background-position: top 50% right 11px;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-size: 16px;
  border: solid 1px $borderColor;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $textColor;
  text-indent: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none \9
;
  -o-appearance: none;
  cursor: pointer;
  outline: none;
  &::-ms-expand {
    display: none;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* Good browsers :) */
    opacity: 0;
  }
}

.form-elements {
  .forms {
    max-width: 260px;
    margin: 0px auto;
    @media #{$query-desktop} {
      margin: 0;
      max-width: inherit;
    }

    label {
      display: inline-block;
      width: 44px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      border: 1px solid $borderColor;
      float: left;
      margin-right: -4px;
      position: relative;
      background: #fff;
      font-size: 24px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: $textColor;
      @include border-radius(4px 0px 0px 4px);

    }
    select {
      float: left;
      width: 64px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      margin-right: -4px;
      position: relative;
      font-size: 18px;
      @media #{$query-desktop} {
        width: 80px;
        padding-left: 7px;
      }
    }
    input[type=text] {
      float: left;
      max-width: 215px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $textColor;
      @media #{$query-desktop} {
        max-width: 235px;
      }
    }
    .action {
      text-align: center;
      &:before {
        display: block;
        clear: both;
        content: "";
      }
      @media #{$query-desktop} {
        text-align: left;
        &:before {
          content: none;
        }
      }
      .btn {
        &.gradient {
          max-width: 180px;
          width: 100%;
          @media #{$query-desktop} {
            @include border-radius(0px 4px 4px 0px);
            margin: 0px;
            width: auto;
          }
        }
      }
    }
  }
}

.checkboxes {
  input {
    display: none;
    &:checked + {
      label {
        color: #269b0a;
      }
      .green-background {
        border-color: #269b0a;
        background: #269b0a;
        &:after {
          content: '';
          display: block;
          margin-left: 9px;
          margin-top: 2px;
          width: 9px;
          height: 18px;
          border: solid rgba(255, 255, 255, 1);
          border-width: 0 6px 6px 0;
          @include transform(rotate(45deg));
        }
      }
      label {
        @include animation(boom 0.5s ease);
      }
    }
  }
}

@include keyframes(boom) {
  25% {
    @include transform(scale(1.25));
  }
}

/* ========= */

.radios {
  input[type="radio"] {
    @include appearance(none);
    width: 18px;
    height: 18px;
    outline: none;
    background: rgba(0, 0, 0, 0.3);
    @include box-shadow(inset, 0 0 0 8px, rgba(255, 255, 255, 1), 0 0 0 2px, rgba(0, 0, 0, 0.3));
    @include border-radius(50%);
    border: 1px solid $colorWhite;
    @include transition-duration(0.25s);
    cursor: pointer;

    &:hover,
    &:checked {
      background: rgba(0, 0, 0, 0.5);
      @include box-shadow(inset, 0 0 0 6px, rgba(255, 255, 255, 1), 0 0 0 2px, rgba(0, 0, 0, 0.5));
    }

    &:checked {
      background-image: linear-gradient(to right, #220a3c, #7d034d 75%, #870052);
      @include box-shadow(inset, 0 0 0 6px, rgba(255, 255, 255, 1), 0 0 0 2px, #269b0a);

    }
  }
  &.border {
    width: 18px;
    height: 18px;
    border: 1px solid $borderColor;
    background: #fff;
    display: inline-block;
    @include border-radius(50%);
    text-align: center;
    input[type="radio"] {
      margin: 0;
      height: 14px;
      width: 14px;
      background: #fff;
      &:hover,
      &:checked {
        background: rgba(0, 0, 0, 0.5);
        @include box-shadow(inset, 0 0 0 6px, rgba(255, 255, 255, 1), 0 0 0 2px, rgba(0, 0, 0, 0.5));
      }

      &:checked {
        background-image: linear-gradient(to right, #220a3c, #7d034d 75%, #870052);
        @include box-shadow(inset, 0 0 0 6px, rgba(255, 255, 255, 1), 0 0 0 2px, #269b0a);

      }
    }
  }
}

.choose-payment-items,
.radios-items-choose {
  .items {
    &.active {
      .radios {
        border: 1px solid rgba(129, 1, 79, .5);
      }
    }
  }
}

.text-input-placeholder {
  @include fontSs(18px);
  @include opacity(.5);
  color: $textColor;
  @include position(absolute, 50% null null 20px);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  @include transition(all, .2s);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.text-input-placeholder_pos_top {
  font-size: 14px;
  font-weight: 600;
  top: 10px;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  @include transition(all, .2s);
}

.placeholder-animation {
  padding-top: 20px;
}

.textbox-inside-label {
  position: relative;
  margin-bottom: 15px;
  @media #{$query-desktop} {
    margin-bottom: 24px;
  }
  label {
    &.init {
      display: inline-block;
      @include position(absolute, 10px null null 20px);
      opacity: 0.5;
      @include fontSs(16px);
      font-weight: 600;
      color: $textColor;
    }

  }
  input[type=text] {
    height: 64px;
    border: 1px solid $borderColor;
    @include border-radius(4px);
    padding: 25px 0 0 20px;
  }
  em {
    @include position(absolute, 13px 24px null null);
    @include opacity(.5);
    @include fontSs(30px);
    font-weight: 300;
    color: $textColor;
    display: inline-block;
    text-align: center;

    &.btnCt {
      opacity: 1;
      position: static;
      margin-top: 15px;
      width: 100%;
      text-align: center;
      @media #{$query-desktop} {
        position: absolute;
        margin: 0;
        width: auto;
      }
      .btn {
        margin: 0;
        @media #{$query-desktop} {
          margin-top: -8px;
          margin-right: -15px;
        }
      }
    }
  }
  .btn {
    margin-top: -8px;
    margin-right: -15px;
    i {
      float: left;
      font-size: 14px;
      margin-right: 15px;
      margin-left: -18px;
    }
  }
  i {
    &.font-icon-search {
      @include position(absolute, 50% 24px null auto);
      font-size: 16px !important;
      margin-top: -8px;
      left: auto !important;
      top:50% !important;
      display: inline-block;
      z-index: 1 !important;
      &:before {
        display: block;
      }
    }
  }
}

.select-inside-label {
  position: relative;
  margin-bottom: 15px;
  @media #{$query-desktop} {
    margin-bottom: 24px;
  }
  label {
    display: inline-block;
    @include position(absolute, 10px null null 20px);
    opacity: 0.5;
    @include fontSs(14px);
    font-weight: 600;
    color: $textColor;
  }
  select {
    height: 64px;
    border: 1px solid $borderColor;
    @include border-radius(4px);
    padding: 25px 0 0 13px;
    @include fontSs(18px);

  }

  &.phone {
    select {
      padding-left: 15px;
      width: 30%;
      @media #{$query-desktop} {
        width: 20%;
      }
    }
    input[type=text] {
      height: 64px;
      border-left: 0px;
      @include border-radius(0 4px 4px 0);
      padding: 25px 0 0 20px;
      width: 70%;
      @media #{$query-desktop} {
        width: 80%;
      }
    }
  }
}

.upload-file {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  input[type=file] {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 1;
  }
  .add-file {
    cursor: pointer;
    border: 1px solid rgba(129, 1, 79, .3);
    @include border-radius(4px);
    @include fontSs(14px);
    font-weight: 600;
    color: $colorPink;
    padding: 11px 35px;
    display: inline-block;
    background: #fff;
    float: right;
    @media #{$query-desktop} {
      float: none;
      padding: 6px 20px;
    }
  }
  label {
    @include fontSs(18px);
    color: $textColor;
    display: inline-block;
    margin-right: 20px;
    float: left;
    @media #{$query-desktop} {
      float: none;
    }
    em {
      font-style: normal;
      font-size: 14px;
      display: block;
      @media #{$query-desktop} {
        display: inline;
      }
    }
  }
}

.formCt {
  .form-group {
    position: relative;
    i {
      position: absolute;
      top: 14px;
      left: 15px;
      color: #81014f;
      font-size: 14px;
      z-index: 9;
      &.font-icon-eye {
        left: auto;
        right: 15px;
      }
      &.font-icon-eye-clicked {
        left: auto;
        right: 15px;
      }
    }
  }

  input {
    padding-left: 40px;
  }
  &.notIcon {
    input {
      padding-left: 15px;
    }
  }

  .form-group {
    position: relative;
    &.has-error {
      input {
        border: 2px solid #ff5454;
      }
    }
    &.has-success {
      input {
        border: 2px solid #32cd9b
      }
    }
  }
  .form-check {

    .glyphicon-ok {
      color: $colorWhite;
      background: #32cd9b;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      text-align: center;
      line-height: 18px;
      font-size: 10px;
      &:before {
        content: "\e013";
      }
    }
    .glyphicon-remove {
      color: $colorWhite;
      background: #ff5454;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      text-align: center;
      line-height: 18px;
      font-weight: bold;
      font-size: 15px !important;
      font-family: tahoma;
      &:before {
        content: '!';
      }
    }

    .form-control-feedback {
      left: auto;
      right: 16px !important;
      top: 16px;
      color: $colorWhite;
      font-style: normal;
      @media #{$query-desktop} {
        left: auto;
        right: -26px !important;
        top: 16px;
        color: $colorWhite;
        font-style: normal;
      }
    }
  }

  &.formLg {
    .form-check {
      .form-control-feedback {
        left: auto;
        right: 16px !important;
        top: 20px;
        color: $colorWhite;
        font-size: 10px;
        font-style: normal;
      }
    }
  }

}

.phone {
  @include clearfix();
  select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 27%;
    float: left;
    padding-left: 30px;
    @include fontSs(18px);
  }
  input {
    width: 73%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0px;
    float: left;
    padding-left: 10px;
    @include fontSs(16px);
  }
}

input {
  &:active, &:focus, &:visited, &:hover {
    box-shadow: none !important;
  }
  &.phone {
    border-radius: 0px !important;
    position: relative;
    z-index: 9;
  }
}

.form-check {
  position: relative;
  .form-control-feedback {
    @include position(absolute, 16px 16px null null);
    z-index: 9;
  }

}

.help-block {
  display: none !important;
}

.selectbox {
  select {
    padding-left: 30px;
    background: #fff;
    @include fontSs(18px);
  }
  &:before {
    @include position(absolute, 50% 20px null null);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 3.5px 0 3.5px;
    border-color: #000000 transparent transparent transparent;
    content: "";
  }
  &:after {
    content: '';
    border-right: 1px solid $borderColor;
    position: absolute;
    right: 50px;
    z-index: 1;
    top: 0;
    height: 100%;
  }
}

textarea.form-control {
  min-height: 100px;
  padding-left: 40px !important;
  font-size: 18px;
  resize: none;
  padding-top: 9px;
}

.slideCheckbox {

  input {
    position: relative;
    margin: 0 10px;
    border-radius: 20px;
    background: $borderColor;
    outline: none !important;
    -webkit-appearance: none;
    cursor: pointer;
    width: 56px;
    height: 30px;
  }

  input::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    outline: none !important;
    width: calc((100% - 4px) / 2);
    height: calc(100% - 4px);
    border-radius: 50%;
    background: $colorWhite;
    transition: all .1s linear;
  }

  input:checked {
    background: $borderDarkPinkColor;
    outline: none !important;
  }

  input:checked::after {
    transform: translateX(100%);
  }

  input:nth-child(1) {
    width: 36px;
    height: 20px;
  }
}

.forms {
  .form-group {
    position: relative;
    &.has-error {
      input, textarea {
        border: 2px solid #ff5454 !important;
      }
    }
    &.has-success {
      input, textarea {
        border: 2px solid #32cd9b !important;
      }
    }
  }
  .glyphicon-ok {
    color: $colorWhite;
    background: #32cd9b;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    font-size: 10px;
  }
  .glyphicon-remove {
    color: $colorWhite;
    background: #ff5454;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    font-weight: bold;
    font-size: 15px;
    font-family: tahoma;
    &:before {
      content: '!';
    }
  }
}