.header{
  height: 69px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 51;
  @include clearfix();
  @media #{$query-desktop} {
    height: 94px;
    background-image: linear-gradient(to right, #220a3c, #7d034d 75%, #870052);
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  }
  .logo{
    position: relative;
    float: left;

    @media #{$query-desktop} {
      width: 330px;
      &:before{
        width: 9999999px;
        height: 100%;
        display: block;
        content: "";
        background: #fff;
        @include position(absolute, 0px 100% null null);
      }
      &:after{
        content: "";
        width: 100px;
        height: 94px;
        background: url('../../img/triangles@2x.png') no-repeat center left;
        background-size: cover;
        display: block;
        @include position(absolute, 0px 0px null null);
      }
    }
    a{
      display: block;
      padding: 22px 0 0 0;
      background: #fff;
      @media #{$query-desktop} {
        width: 230px;
        height: 94px;
        padding: 30px 0 0 0;
      }
      img{
        width: 155px;
        @media #{$query-desktop} {
          width: 200px;
        }
      }
    }
  }
  .login-false{
    @media #{$query-desktop} {
      @include transform(translate3d(1, 0, 0));
      @include transition(none);
      position: static;
      display: block;
      max-width: 100%;
    }
    .lnk{
      padding: 37px 0 0 20px;
      float: left;
      display: none;
      @media #{$query-desktop} {
        display: block;
      }
      a{
        display: inline-block;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        @media #{$query-desktop} {
          margin-right: 25px;
        }
        @media #{$query-large} {
          margin-right: 50px;
        }
      }
    }
    .form-elements{
      padding: 17px 0 0 0;
      @media #{$query-desktop} {
        padding: 27px 0 0 0;
      }
      .forms{
        display: none;
        @media #{$query-large} {
          display: block;
        }
        select{
          background-color: transparent;
          color:#fff;
          background-image: url('../../img/icon-arrow-down-white.png');
          height: 40px;
          border-color: #fff;
          @include border-radius(4px 0px 0px 4px);
          margin-right: -1px;
        }
        input[type=text]{
          background: transparent;
          height: 40px;
          border-color: #fff;

          @include border-radius(0px);
          color:#fff;
          @media #{$query-desktop} {
            max-width: 120px;
          }
          @media #{$query-large} {
            max-width: 170px;
          }
        }
        .action{
          float: left;
          .btn{
            &.white{
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #2b364c;
              padding: 10px;
              @include border-radius(0px 4px 4px 0px);
              margin-left: -1px;
            }
          }
        }
      }
    }
    .login-btn{
      float: right;
      @media #{$query-desktop} {
        padding-left: 10px;
        display: inline-block;
        float: none;
      }
      a{
        padding: 9px 20px;
        font-size: 16px;
        color:#81014f;
        border-color: #81014f;
        @media #{$query-desktop} {
          border-color: #fff;
          color:#fff;
        }
      }
    }
    .language{
      padding-left:15px;
      color:#fff;
      display: none;
      @media #{$query-desktop} {
        display: inline-block;
      }
      a{
        color:#fff;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        display: inline-block;
        padding: 10px 5px;
        &.active{
          font-weight: bold;
        }
      }
    }
  }

  &.loginTrue{
    height: 60px;
    @media #{$query-desktop} {
      height: $headerHeight;
    }
    .logo{
      &:after{
        height: 60px;
        @media #{$query-desktop} {
          height: $headerHeight;
        }
      }
      a{
        height: 60px;
        padding: 17px 0 0 0;
        @media #{$query-desktop} {
          height: $headerHeight;
          padding: 18px 0 0 0;
        }

      }
    }
    .login-true{
      @include clearfix();
      position: relative;
      display: none;
      @media #{$query-desktop} {
        display: block;
      }
      .links{
        ul{
          float: right;
          li{
            float: left;
            position: relative;
            &:before{
              width: 1px;
              height: $headerHeight;
              opacity: 0.3;
              border-radius: 4px;
              background-color: #ffffff;
              content: "";
              @include position(absolute,0px null null 0px);
            }
            &:hover{
              background: rgba(255,255,255,0.15);
            }
            a{
              display: block;
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #ffffff;

              span{
                line-height: $headerHeight;
                display: block;
                padding: 0 24px;
              }
            }
            &.users{
              padding:11px 37px 16px 20px;
              a{
                position: relative;
                i{
                  @include position(absolute,50% null null 0px);
                  font-size: 26px;
                  margin-top: -13px;
                  display: inline-block;
                  &:before{
                    display: block;
                  }
                }
                .user{
                  padding: 0 0 0 40px;
                  em{
                    font-size: 13px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #ffffff;
                    text-align: left;
                  }
                  strong{
                    font-size: 18px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #ffffff;
                    display: block;
                    text-align: left;
                  }
                  &:after{
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 4px 3.5px 0 3.5px;
                    border-color: #ffffff transparent transparent transparent;
                    content: "";
                    display: inline-block;
                    margin-top:-2px;
                    @include position(absolute,50% -17px null null);
                  }
                }
              }
            }
            &.manage{
              a{
                span{
                  &:after{
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 4px 3.5px 0 3.5px;
                    border-color: #ffffff transparent transparent transparent;
                    content: "";
                    display: inline-block;
                    margin: 0 0 0 8px;
                    position: relative;
                    top:-3px
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .register-login-page{
    .call{
      display: none;
      @media #{$query-large} {
        display: block;
        float: left;
        color:#ffF;
        padding: 30px 0 0 15px;
      }
      a{
        color:#ffF;
        @include fontSs(16px);
        line-height: 2.25;
      }
    }
    .log-in{
      float: right;
      padding: 17px 0 0 0;
      @media #{$query-desktop} {
        padding: 27px 0 0 0;
      }
      span{
        @include fontSs(14px);
        line-height: 2.57;
        color:#fff;
        display: none;
        margin-right: 20px;
        @media #{$query-desktop} {
          display: inline-block;
        }
      }
      .btn{
        color:#fff;
        padding: 10px 20px;
        font-size: 16px;
        &.white{
          color:#81014f;
          border-color: #81014f;
          i{
            display: none;
          }
          @media #{$query-desktop} {
            border-color: #fff;
            color:#fff;
            i{
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .user-menu{
    display: none;
    &.show{
      display: block;
      max-width: 390px;
      width: 100%;
      @extend .gradient;
      @include position(absolute, 60px 0px null null);
      overflow: hidden;
      @media #{$query-desktop} {
        top: $headerHeight;
      }

    }
    ul{
      li{
        &:before{
          content: "";
          width: 100%;
          height: 1px;
          background: #85527c;
          display: block;
          margin-top: -1px;
          margin-left: 20px;
          @media #{$query-desktop} {
            margin-left: 30px;
          }
        }
        &:after{
          content: "";
          width: 100%;
          height: 1px;
          background: #85527c;
          display: block;
          margin-left: 20px;
          @media #{$query-desktop} {
            margin-left: 30px;
          }
        }
        &:hover{
          &:before{
            margin-left: 0;
            @include transition(all,.2s);
          }
          &:after{
            margin-left: 0;
            @include transition(all,.2s);
          }
        }
        a{
          display: block;
          padding: 19px  0;
          position: relative;
          text-align: left;
          @media #{$query-desktop} {
            padding: 38px  0;
          }

          &:hover{
            background: rgba(255,255,255,0.15);
          }
          i{
            @include position(absolute, 50% null null 22px);
            color:#fff;
            font-size: 24px;
            margin-top: -12px;
            display: inline-block;

            @media #{$query-desktop} {
              left: 30px;
              width: 40px;
              text-align: center;
            }
            &:before{
              display: block;
            }
          }
          span{
            display: block;
            line-height: 20px;
            @include fontSs(18px);
            color: #fff;
            text-align: left;
            padding: 0 0 0 70px;
            @media #{$query-desktop} {
              font-size: 20px;
              padding: 0 0 0 90px;
            }
            em{
              display: block;
              font-style: normal;
              font-size: 13px;
              @include opacity(.5);
            }
          }
        }
      }
    }
    .article{
      background-color: rgba(34,10,60,.3);
      padding: 20px 35px;
      border-top: 1px solid #85527c;
      a{
        @include fontSs(15px);
        color: #fff;
        text-align: left;
        position: relative;
        padding:  10px 0 10px 42px;
        label{
          width: 25px;
          font-size: 17px;
          color: #fff;
          @include opacity(.5);
          @include position(absolute, 50% null null 0px);
          margin-top: -10px;
          text-align: center;
          &:before{
            display: block;
          }

        }
      }
    }
  }

  .mobile-menu{
    display: none;
    &.isloginTrue{
      display: block;
      @include position(absolute, 15px 15px null null);
      @media #{$query-desktop} {
        display: none;
      }
      i{
        font-size: 23px;
        color:$colorPink;
        display: inline-block;
        &:before{
          display: block;
        }
      }
    }
  }
  .wrapper{
    height: 100%;
  }
  .article {
    overflow: hidden;
    &[accordion-show^="true"] {
      height: 100%;
    }

    &[accordion-show^="false"] {
      max-height: 0;
      padding: 0;
      border: 0;
    }

  }
}