.home-container{
  .content-first{
    @include clearfix();
    background: #fff;
    padding: 40px 0 30px 0;
    position: relative;
    @media #{$query-desktop} {
      padding: 120px 0 120px 0;
      background: $backgroundColor1;
    }
    .wrapper{
      .text{
        @media #{$query-desktop} {
          width: 50%;
          float: left;
        }
        h1{
          text-align: center;
          @media #{$query-desktop} {
            text-align: left;
          }
        }
        p{
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: $textColorLight;
          margin: 10px 0 30px 0;
          text-align: center;
          @media #{$query-desktop} {
            font-size: 21px;
            text-align: left;
            margin: 30px 0;
            line-height: 1.38;
          }
        }
        .form-elements{
          .forms{
            select{
              background-color: #fff;
              @media #{$query-desktop} {
                background-color: $backgroundColor1;
              }
            }
            input[type=text]{
              float: left;
              max-width: 195px;
              background: #fff;
              @media #{$query-desktop} {
                max-width: 329px;
                background: $backgroundColor1;
              }
            }
            .action{
              .btn{
                margin-top: 10px;
                @media #{$query-desktop} {
                  margin-top: 0;
                }
              }
            }
          }

          .form-check{
            max-width: 329px;
            width: auto;
            float: left;
            @media #{$query-desktop} {
              width: 100%;
            }
            input{
              border-radius: 0px !important;
            }
          }
        }
        .bank-icons{
          padding: 30px 0 0 0;
          @media #{$query-desktop} {
            padding: 90px 0 0 0;
          }
          ul{
            display: block;
            text-align: center;
            @media #{$query-desktop} {
              text-align: left;
            }
            li{
              display: inline-block;
              vertical-align: middle;
              margin: 0 6px;
              @media #{$query-desktop} {
                margin: 0 13px;
              }
              &:first-child{
                margin-left: 0;
              }
              &:last-child{
                margin-right: 0;
              }
              &.visa{
                img{
                  width: 28px;
                  @media #{$query-desktop} {
                    width: 62px;
                  }
                }
              }
              &.mastercard{
                img{
                  width:31px;
                  @media #{$query-desktop} {
                    width: 64px;
                  }
                }
              }
              &.amex{
                img{
                  width: 32px;
                  @media #{$query-desktop} {
                    width: 64px;
                  }
                }
              }
              &.troy{
                img{
                  width: 30px;
                  @media #{$query-desktop} {
                    width: 66px;
                  }
                }
              }
              &.ininal{
                img{
                  width: 31px;
                  @media #{$query-desktop} {
                    width: 67px;
                  }
                }
              }
              &.papara{
                img{
                  width: 49px;
                  @media #{$query-desktop} {
                    width: 103px;
                  }
                }
              }
            }
          }
        }
      }
      .images{
        text-align: center;
        margin-top:36px;
        @media #{$query-desktop} {
          width: 50%;
          float: right;
          margin-top: -20px;
        }
        img{
          max-width: 100%;
          @media #{$query-desktop} {
            max-width: 480px;
          }

        }
      }
    }
  }
  .content-invoice{
    @include clearfix();
   .images{
     background: url('../../img/content-invoice.png') no-repeat center center;
     background-size: cover;
     min-height: 230px;
     @media #{$query-desktop} {
       float: left;
       width: 50%;
       min-height: 520px;
     }
   }
    .invoice-slider{
      background: url('../../img/text_bg_1.png') repeat top left;
      position: relative;
      @media #{$query-desktop} {
        width: 50%;
        float: right;
        min-height: 520px;
      }
      .itemsC{
        width: 100%;
        padding: 30px 15px 35px 15px;
        @media #{$query-desktop} {
          height: 100%;
          @include position(absolute,0px null null 0px);
          padding:  70px 25px 25px 115px;
        }
        .item{
          position: relative;
          @include clearfix();
          @media #{$query-desktop} {
            max-width: 470px;
            height: 100%;
          }
          ul{
            li{
              strong{
                font-family: EBGaramond;
                font-size: 32px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.13;
                letter-spacing: normal;
                color: $textColor;
                display: block;
                text-align: center;
                @media #{$query-desktop} {
                  font-size: 48px;
                  text-align: left;
                  line-height: 1.21;
                }
              }
              p{
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.43;
                letter-spacing: normal;
                color: $textColorLight;
                margin: 10px 0 20px 0;
                text-align: center;
                @media #{$query-desktop} {
                  font-size: 16px;
                  line-height: 1.5;
                  text-align: left;
                  margin: 20px 0;
                }
              }
            }
          }
          .flex-control-paging{
            @include position(absolute, null null -20px 0px);
            z-index: 9;
            width: 100%;
            @media #{$query-desktop} {
              bottom:0px;
              width: auto;
            }
          }
        }
      }
    }
  }
  .content-register{
    @extend .gradient;
    box-shadow: 0px 9px 12px -7px rgba(129,1,80,0.4);
    padding: 30px;
    @media #{$query-desktop} {
      padding: 49px 0 48px 0;
    }
    @include clearfix();
    .wrapper{
      color:#fff;
      text-align: center;
      @media #{$query-desktop} {
        text-align: left;
      }
      span{
        display: block;
        font-size: 24px;
        font-family: EBGaramond;
        @media #{$query-desktop} {
          font-size: 36px;
          float: left;
          display: inline-block;
          padding-top: 5px;
          width: 75%;
          padding-right: 15px;
        }
      }
      .action{
        @media #{$query-desktop} {
          float: right;
          padding-left: 15px;
          width: 25%;
        }
        a{
          margin-top: 20px;
          @media #{$query-desktop} {
            padding-left: 24px;
            padding-right: 24px;
            margin: 0;
          }
        }
      }
    }
  }
  .content-calculator{
    @include clearfix();
    padding: 30px 0;
    background:#fbfbfb;
    @media #{$query-desktop} {
      padding: 74px 0 73px 0;
    }
    .wrapper{
      .form-elements{
        padding-bottom: 30px;
        @media #{$query-desktop} {
          width: 50%;
          max-width: inherit;
          float: left;
          padding: 10px 15px 0 0;

        }
        h2{
          text-align: center;
          @media #{$query-desktop} {
            text-align: left;
          }
        }
        p{
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: $textColorLight;
          text-align: center;
          @media #{$query-desktop} {
            text-align: left;
            font-size: 16px;
          }
        }
        .forms{
          padding-top: 10px;
          input[type=text]{
            font-size: 24px;
          }
          .action{
            text-align: center;
            @media #{$query-desktop} {
              text-align: left;
            }
            .btn{
              &.gradient{
                margin: 10px 0 0 0;
                @media #{$query-desktop} {
                  @include border-radius(0px 4px 4px 0px);
                  margin:0;
                  position: relative;
                  right: 4px;
                }
              }
            }
          }
        }
        .form-check{
          max-width: 329px;
          width: auto;
          float: left;
          @media #{$query-desktop} {
            width: 100%;
          }
          input{
            border-radius: 0px !important;
          }
        }
      }
      .table{
        @media #{$query-desktop} {
          width: 50%;
          float: right;
          padding-left: 14px;
          margin: 0;
        }
       th,td{
         border: 1px solid $textColorLight;
         @media #{$query-desktop} {
           border-color: $borderPinkColor;
         }
        }
        .table-border{
          border: 1px solid $textColorLight;
          @media #{$query-desktop} {
            border-color: $borderPinkColor;
            @include border-radius(4px);
          }
          table{
            width: 100%;
            color:$textColor;
            border-collapse: collapse;
            tr{
              th{
                padding: 10px;
                font-size: 12px;
                font-weight: 600;
                border-top: 0px;
                text-align: center;
                @media #{$query-desktop} {
                  font-size: 14px;
                  padding: 15px 10px;
                }
                &:first-child{
                  border-left: 0;
                  @media #{$query-desktop} {
                    text-align: left;
                  }
                }
                &:last-child{
                  border-right: 0;
                }
              }
              td{
                text-align: center;
                height: 70px;
                vertical-align: middle;
                padding: 0 10px;
                font-size: 14px;
                font-weight: normal;
                @media #{$query-desktop} {
                  font-size: 16px;
                }
                &:first-child{
                  border-left: 0;
                  @media #{$query-desktop} {
                    text-align: left;
                  }
                }
              }
              &:last-child{
                td{
                  border-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .content-freelancers{
    @include clearfix();
    background: #fff;
    .images{
      background: url('../../img/content-freelancers.png') no-repeat center center;
      background-size: cover;
      min-height: 230px;
      @media #{$query-desktop} {
        min-height: 520px;
        width: 50%;
        float: left;
      }
    }
    .text{
      padding: 30px 15px 40px 15px;
      @media #{$query-desktop} {
        width: 50%;
        float: right;
        min-height: 520px;
        padding:  50px 0 0 115px;
      }
      .title{
        border-bottom: 1px solid $borderColor;
        padding-bottom: 20px;
        text-align: center;
        @media #{$query-desktop} {
          text-align: left;
          display: block;
        }
        h2{
          background: #fff;
          text-align: center;
          color:$colorPink;
          line-height: 1.21;
          overflow: hidden;
          @media #{$query-desktop} {
            text-align: left;
          }
          .border{
            display:inline-block;
            background: #fff;
            position: relative;
            color:$textColor;
            font-weight: normal;
            z-index: 1;
            @media #{$query-desktop} {
              display: block;
              text-align: left;
            }
            &:after{
              content: "";
              height: 1px;
              width: 150%;
              background: $borderColor;
              @include position(absolute,14px null null -25%);
              @media #{$query-desktop} {
                width: 120%;
                top:28px;
                left: 50%;
                z-index: 0;

              }
            }
            strong{
              display: inline-block;
              z-index: 2;
              background: #fff;
              position: relative;
              padding: 0 10px;
              @media #{$query-desktop} {
                padding: 0;

              }
            }

          }

        }
        span{
          display: block;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 1px;
          color:$textColor;
          margin-bottom: 10px;
          text-align: center;
          @media #{$query-desktop} {
            text-align: left;
          }
        }
      }
      .list{
        padding: 20px 0 0 0;
        @include clearfix();
        .items{
          display: inline-block;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.75;
          letter-spacing: normal;
          color: $textColorLight;
          vertical-align: top;
          padding-right: 40px;
          width: 50%;
          float: left;
          @media #{$query-desktop} {
            width: auto;
          }
        }
      }
    }
  }
  .content-stories{
    background: $backgroundColor1;
    @include clearfix();
    padding: 30px 0 52px 0;
    @media #{$query-desktop} {
      padding: 60px 0;
    }
    .wrapper{
      .title{
        text-align: center;
        margin-bottom: 30px;
        @media #{$query-desktop} {
          margin-bottom: 60px;
        }
        span{
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 1px;
          text-align: center;
          color: $textColor;
          display: block;
          margin-bottom: 10px;
          @media #{$query-desktop} {
            font-size: 16px;
            margin: 0;
          }
        }
        h2{
          text-align: center;
        }
      }
      .itemsC{
        margin: 0 -15px;
        @include clearfix();
        .slides{
          @include clearfix();
        }
        .items{
          padding: 0 15px;
          @media #{$query-tablet} {
            width: 50%;
            float: left;
            margin-bottom: 24px;
          }
          @media #{$query-desktop} {
            width: 25%;
            margin-bottom: 0;
          }
          .items-center{
            @include border-radius(5px);
            background-color: #ffffff;
            border: solid 1px #d7d7d7;
            -webkit-box-shadow: 0px 9px 12px -7px rgba(129,1,80,0.2);
            -moz-box-shadow: 0px 9px 12px -7px rgba(129,1,80,0.2);
            box-shadow: 0px 9px 12px -7px rgba(129,1,80,0.2);
            .images{
              img{
                width: 100%;
              }
            }
            .info{
              padding: 20px 20px 25px 20px;
              min-height: 190px;
              color:$textColorLight;
              strong{
                display: block;
                font-size: 21px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $textColor;
              }
              span{
                display: block;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
              }
              p{
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                margin: 20px 0 0 0;
              }
            }
          }
        }
        .flex-control-paging{
          margin: 30px 0 0 0;
        }
      }
      .text{
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color:$textColor;
        max-width: 770px;
        margin: 0 auto;
        @media #{$query-desktop} {
          padding: 40px 0 0 0;
        }
        a{
          margin: 10px 0 0 0;
        }
      }
    }
  }
  .content-let{
    background: $backgroundColor2;
    padding: 30px 0;
    @media #{$query-desktop} {
      padding: 80px 0;
    }
    .wrapper{
      .itemsC{
        @include clearfix();
        .commission{
          text-align: center;
          @media #{$query-desktop} {
            width: 40%;
            float: left;
          }
          .percent{
            position: relative;
            display: inline-block;
            img{
              width: 100%;
              max-width: 250px;
              @media #{$query-desktop} {
                max-width: inherit;
                width: auto;
              }
            }
            .per{
              @include position(absolute,0px null null 0px);
              width: 100%;
              text-align: center;
              padding: 40px 0 0 0;
              @media #{$query-desktop} {
                padding: 50px 0 0 0;
              }
              span{
                font-size: 14px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 3px;
                text-align: center;
                color: $textColor;
                display: block;
                text-align: center;
                @media #{$query-desktop} {
                  font-size: 18px;
                }
              }
              strong{
                font-family: EBGaramond;
                font-size: 90px;
                line-height: 85px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                color: $textColor;
                @media #{$query-desktop} {
                  font-size: 144px;
                  line-height: 134px;
                }
                em{
                  font-size: 57.6px;
                  font-weight: normal;
                  line-height: 1.21;
                  font-family: 'Source Sans Pro';
                  position: relative;
                  top:-8px;
                }
              }
            }
          }
          .invite{
            @include border-radius(4px);
            border: dashed 1px $borderLineColor;
            padding: 20px;
            margin: 20px 0 0 0;
            color:$textColorLight;
            font-size:14px;
            @media #{$query-desktop} {
              margin: 40px 0 0 0;
              padding: 20px 10px 45px 10px;
              font-size:16px;
            }
            span{
              color:$colorPink;
            }
          }
          a{
            margin-top: 10px;
            @media #{$query-desktop} {
              position: relative;
              top:-25px;
              margin: 0;
            }
          }
        }
        .text{
          padding-top: 30px;
          @media #{$query-desktop} {
            width: 48%;
            float: right;
            padding-top: 0;
          }
          .title{
            h2{
              text-align: center;
              @media #{$query-desktop} {
                text-align: left;
              }
            }
            span{
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.55;
              letter-spacing: normal;
              color: $textColorLight;
              margin: 10px 0;
              display: block;
              text-align: center;
              @media #{$query-desktop} {
                font-size: 16px;
                text-align: left;
                margin: 15px 0;
              }
            }
          }
          .list{
            ul{
              li{
                color:$textColor;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.75;
                letter-spacing: normal;
                border-bottom: 1px solid $borderColor;
                padding:15px 0;
                @media #{$query-desktop} {
                  font-size: 16px;
                }
                strong{
                  color:$colorPink;
                  font-weight: normal;
                }
                span{
                  color:$textColorLight;
                  display: block;
                }
                &:last-child{
                  border-bottom: 0;
                  color:$colorPink;
                  span{
                    color:$textColorLight;
                    font-style: italic;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .content-turn{
    padding:30px 0;
    @media #{$query-desktop} {
      padding:70px 0;
    }
    .wrapper{
      .title{
        text-align: center;
        margin-bottom: 30px;
        @media #{$query-desktop} {
          margin-bottom: 45px;
        }
        span{
          display: block;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: center;
          color: $textColorLight;
          margin-top: 10px;
          @media #{$query-desktop} {
            font-size: 16px;
          }
        }
        h2{
          text-align: center;
        }
      }
      .itemsC{
        @include clearfix();
        @media #{$query-desktop} {
          margin: 0 -15px;
        }
        .items{
          text-align: center;
          @media #{$query-desktop} {
            width: 24.5%;
            display: inline-block;
            padding: 0 15px;
            vertical-align: top;
          }
          .images{
            max-width: 122px;
            margin: 0 auto;
            img{
              width: 100%;
            }
          }
          span{
            display: block;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $textColorLight;
            margin: 10px 0 30px 0;
            @media #{$query-desktop} {
              font-size: 18px;
              margin: 30px 0 0 0;
            }
          }
        }
      }
      .form-elements{
        max-width: 260px;
        margin: 0px auto;
        @media #{$query-desktop} {
          max-width: 570px;
          padding-top: 80px;
        }
        .forms{
          @include clearfix();
          input[type=text]{
            float: left;
            max-width: 195px;
            @media #{$query-desktop} {
              max-width: 329px;
            }

          }
          .action{
            text-align: center;
            .btn{
              &.gradient{
                padding-left: 25px;
                padding-right: 25px;
                margin-top: 10px;
                @media #{$query-desktop} {
                  float: left;
                  border-top-left-radius: 0px;
                  border-bottom-left-radius: 0px;
                  margin-top: 0;
                }
              }
            }
          }
        }

        .form-check{
          max-width: 329px;
          width: auto;
          float: left;
          @media #{$query-desktop} {
            width: 100%;
          }
          input{
            border-radius: 0px !important;
          }
        }
      }
    }
  }
  .content-work{
    .wrapper{
      .itemsC{
        .items{
          margin-bottom: 30px;
          @media #{$query-desktop} {
            width: 33%;
            margin: 0;
          }
          strong{
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $textColor;
            display: block;
            margin: 10px 0  0 0;
            @media #{$query-desktop} {
              font-size: 24px;
              margin: 20px 0  0 0;
            }
          }
          span{
            font-size: 14px;
            color:$textColorLight;
            margin-top: 10px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            padding: 0 10px;
            @media #{$query-desktop} {
              font-size: 16px;
              margin: 12px 14% 0 14%;
              padding: 0;
            }
          }
        }
      }
      .action{
        text-align: center;
        @media #{$query-desktop} {
          padding: 70px 0 0 0;
        }
      }
    }
  }
}