.password-modal{
  width: 100%;
  max-width: 390px;
  .modal-header{
    text-align: center;
    padding-top: 30px;
    i{
      width: 56px;
      height: 56px;
      text-align: center;
      line-height: 52px;
      display: inline-block;
      @include border-radius(50%);
      color:$colorPink;
      font-size: 23px;
      border: 1px solid $borderColor;
      background: #fff;
      @include position(absolute, -28px null null 50%);
      margin-left: -28px;
    }
    strong{
      display: block;
      @include fontSs(24px);
      color:$textColor;
      margin-bottom: 5px;
    }
    span{
      display: block;
      @include fontSs(18px);
      color:$textColorLight;
    }
  }
  .modal-body{
    padding-top: 30px;
    .password-entry{
      @include clearfix();
      text-align: center;
      .items{
        width: 25%;
        float: left;
        text-align: center;
        input{
          width: 60px;
          height: 60px;
          @include border-radius(50%);
          padding: 0;
          line-height: 60px;
          text-align: center;
          @include fontSs(30px);
          font-weight: 600;
        }
      }
      a{
        color:$colorPink;
        display: inline-block;
        margin-top: 30px;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  .modal-footer{
    text-align: center;
    border: 0;
    padding-top: 0;
    padding-bottom: 40px;
    .btn{
      &.gradient{
        width: 100%;
        max-width: 290px;
      }
    }
  }
  .modal-close{
    text-align: center;
    padding: 10px 0;
    a{
      display: inline-block;
      @include fontSs(16px);
      font-weight: 600;
      color: #fff;
      text-decoration: underline;
    }
  }
}