.promotion-modal{
  width: 100%;
  max-width: 770px;
  .modal-header{
    padding: 20px 24px;
    strong{
      @include fontSs(24px);
      font-weight: 600;
      color:$textColor;
    }
    i{
      &.font-icon-price-tag{
        font-size: 24px;
        color:$colorPink;
        display: inline-block;
        margin-right: 10px;
      }
    }
    .modal-close{
      @include position(absolute,24px 24px null null);
      a{
        color:#fff;
        i{
          width: 18px;
          height: 18px;
          @include border-radius(50%);
          background: $borderColor;
          display: inline-block;
          font-size: 9px;
          line-height: 18px;
          text-align: center;
          &:before{
            display: block;
          }
        }
      }
    }
  }
  .modal-body{
    padding: 24px 24px 0 24px;
    span{
      @include fontSs(18px);
      font-weight: 600;
      color:$textColor;
      display: block;
      margin-bottom: 24px;
    }
  }
  .modal-footer{
    text-align: right;
    border: 0;
    padding: 0 24px 24px 24px;
    .btn{
      &.gradient{
        width: 100%;
        max-width: 180px;
      }
    }
  }

}