html
{
    font-family: $baseFontFamily;
    height: 100%;
    width: 100%;
}

body
{
    font-size: $baseFontSize;
    font-family: $baseFontFamily;
    // -webkit-tap-highlight-color: transparent;
    background-color: $bodyBgColor;
    height: 100%;
    width: 100%;
}

ul
{
    list-style: none;
    padding:0;
    margin: 0;
}

a
{
    text-decoration: none;
    @extend %default-transition;

    &:hover
    {
        text-decoration: none;
    }
}

input{
    &:focus{
        outline: none;
    }
}

.wrapper{
    max-width: $screen-wrapper;
    margin: 0px auto;
    position: relative;
    padding:  0 15px;
    @include clearfix();
}
h1{
  @include fontEb(32px);
  font-size: 32px;
  line-height: 1.13;
  letter-spacing: normal;
  color: $textColor;
  margin: 0;
  @media #{$query-desktop} {
    font-size: 64px;
  }
}
h2{
  @include fontEb(32px);
  text-align: left;
  color: $textColor;
  margin: 0;
  @media #{$query-desktop} {
    font-size: 48px;
  }
}


.link{
  @include position(absolute, null null 15px 15px);
  @media #{$query-desktop} {
    bottom:40px;
    left: 40px;
  }
  a{
    display: inline-block;
    i{
      display: inline-block;
      margin-right: 10px;
      font-size: 16px;
      &:before{
        display: block;
        position: relative;
        top: 2px;
      }
    }
    &:hover{
      color: $colorWhite;
    }
  }
}

.article {
  overflow: hidden;
  &[accordion-show^="true"] {
    height: 100%;
  }

  &[accordion-show^="false"] {
    max-height: 0;
    padding: 0;
    border: 0;
  }
}


.radios-items-choose{
  @include border-radius(4px);
  border: 1px solid $borderColor;
  margin-bottom: 24px;
  .items{
    position: relative;
    border-bottom: 1px solid $borderColor;
    &:last-child{
      border-bottom: 0;
    }
    &.active{
      background-color: rgba(11, 13, 54, 0.05);
    }
    label{
      padding: 14px 14px 12px 48px;
      width: 100%;
      display: block;
      cursor: pointer;
      margin: 0;
      @include clearfix();
      @media #{$query-desktop} {
        padding: 18px 24px 17px 54px;
      }
      strong{
        color:$textColor;
        @include fontSs(16px);
        display: inline-block;
        @media #{$query-desktop} {
          font-size: 18px;
          width: 60%;
          float: left;
        }
        em{
          font-size: 14px;
          font-style: normal;
          @media #{$query-desktop} {
            font-size: 16px;
          }
        }
      }
      span{
        display: block;
        @include fontSs(13px);
        @include opacity(.5);
        @media #{$query-desktop} {
          float: right;
          width: 40%;
          text-align: right;
          font-size: 14px;
        }
        i{
          font-size: 18px;
          display: inline-block;
          margin-right: 5px;
          @media #{$query-desktop} {
            font-size: 20px;
            margin-right: 7px;
          }
        }
        &.opacity-null{
          @include opacity(1);
        }
      }
    }
    .radios{
      &.border{
        @include position(absolute, 50% null null 15px);
        margin-top:-9px;
      }
    }
    &.single-line-h64{
      label{
        padding: 22px 14px 22px 48px;
        @media #{$query-desktop} {
          padding: 18px 24px 17px 54px;
        }
      }
    }
  }
}

.creditcard{

  position: relative;
  @include border-radius(4px);
  &:after{
    @include position(absolute, 0px null null 0px);
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    background: url('../../img/image-flare@2x.png') no-repeat top center;
    background-size: cover;
  }
  &.gradient{
    background-image: linear-gradient(to right, #220a3c, #7d034d 75%, #870052);
    box-shadow: none;
    height: 120px;
    color:#fff;
    .head{
      width: 100%;
      @include position(absolute, 15px null null 0px);
      .left{
        float: left;
        padding-left: 20px;
      }
      .right{
        float: right;
        padding-right: 20px;
      }
      em{
        @include opacity(.5);
        @include fontSs(10px);
        line-height: 1;
        color: #ffffff;
        display: inline-block;
      }
      span{
        @include fontSs(16px);
        font-weight: 300;
        color: #ffffff;
        display: inline-block;
        margin-left: 4px;
      }
    }
    .bottom{
      width: 100%;
      @include position(absolute, null null 20px 0px);
      strong{
        display: inline-block;
        padding-left: 20px;
        @include fontSs(16px);
        font-weight: 400;
        color: #ffffff;
        float: left;
      }
      span{
        float: right;
        display: inline-block;
        padding-right: 20px;
      }
    }
  }
}

div::-webkit-scrollbar-track
{

  border-radius: 10px;
  background-color: transparent;
}

div::-webkit-scrollbar
{
  width: 5px;
  background-color: transparent;
  height: 4px;
}

div::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #ccc;
}


.colorPink{
  color:$colorPink !important;
}
.position-relative{
  position: relative;
}
.body-no-scroll{
  @media #{$query-desktop} {
    overflow: hidden;
  }
}