
//defaults
$colorBlack:        #000;
$colorGray:         #767676;
$colorWhite:        #fff;
$colorRed:          #f35a57;
$colorgreen:        #3cb260;
$colorPink:         #81014f;


//scaffolding
$textColor:         #373737;
$textColorLight:    #999;
$bodyBgColor:		#fff;
$colorTitle:        #38393c;


//borders
$borderColor: 		#d7d7d7;
$borderLineColor: 	#979797;
$borderPinkColor:   #c284ae;
$borderDarkPinkColor:#81014f;
$borderRadius: 		2px;

//backgroundColor
$backgroundColor1:   #f4f4f4;
$backgroundColor2:   #fbfbfb;


//fonts
$baseFontSize:      	14px;

//header
$headerHeight:          70px;

//responsive-layout
$gutter:				20px;
$screen-small:			576px;
$screen-normal:			992px;
$screen-large:			1170px;
$screen-wrapper:		1200px;

$query-mobile:          "( max-width : #{$screen-small} )";
$query-tablet: 			"( min-width : #{$screen-small} )";
$query-desktop:			"( min-width : #{$screen-normal} )";
$query-large:			"( min-width : #{$screen-large} )";
$baseFontFamily: 'Source Sans Pro', sans-serif;



